// Common - Mobile
//
//

@charset 'UTF-8';
/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,select{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
img{vertical-align:top;outline:none;border:none;}
iframe,textarea{vertical-align:top;}
address{font-style:normal}

/* Top Gnb */
.rooftop {
    position: fixed; z-index: 1000;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #fff;
    height: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.brandsolution-logo {
    position: absolute;
    top: 18px; left: 20px;
}
.brandsolution-logo a {
    display: block;
    width: 41px; height: 12px;
    background: url(../img/sp-common_m.png) no-repeat 0 0;
    background-size: 150px;
}
.brand-identity {
    text-align: center;
    line-height: 50px;
    font-size: 0;
}
.brand-identity img {
    vertical-align: middle;
}
.sns-share-box {
    position: absolute;
    top: 8px; right: 10px;
}
.btn-sns-more {
    display: block;
    width: 30px; height: 30px;
    background: url(../img/sp-common_m.png) no-repeat 0 -15px;
    background-size: 150px;
    color: transparent;
    font-size: 0;
}

/* SNS 공유 모달 */
.sns-modal {
    position: fixed; z-index: 1010;
    top: 50px; right: 0; bottom: 0; left: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.sns-modal.open {
    opacity: 1;
    max-height: 100%;
}
.sns-modal:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,.5);
}
.sns-modal-inner {
    position: absolute; z-index: 10;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 80%; height: 80%;
    margin:auto;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.sns-modal .modal-head {
    position: relative;
    padding: 18px 18px 0 18px;
    height: 39px;
    font-size:1.4em;
    background-color: #f8f8f8;
}
.sns-modal .close-modal {
    position: absolute;
    top: 15px; right: 12px;
    width: 30px; height: 30px;
    border: none;
    color: transparent;
    font-size: 0;
    background-color: transparent;
    background: url(../img/sp-common_m.png) no-repeat -35px -15px;
    background-size: 150px;
}
.sns-list {
    position: absolute;
    top: 57px; right: 0; bottom: 0; left: 0;
    padding: 25px 25px 0 25px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.sns-list:after {
    content: '';
    display: block;
    clear: both;
}
.sns-list li {
    float: left;
    width: 33.333333%;
    margin-bottom: 24px;
}
.sns-list a {
    font-size: 12px;
    text-decoration: none;
    color: #231f20;
}
.sns-list span {
    display: block;
}
.sns-list i {
    display: inline-block;
    width: 40px; height: 40px;
    background: url(../img/sp-common_m.png) no-repeat;
    background-size: 150px;
}
.sns-list .sns-fb i {background-position: 0 -45px;}
.sns-list .sns-tw i {background-position: -45px -45px;}
.sns-list .sns-gp i {background-position: -90px -45px;}
.sns-list .sns-pi i {background-position: 0 -90px;}
.sns-list .sns-kt i {background-position: -45px -90px;}
.sns-list .sns-it i {background-position: -90px -90px;}
.sns-list .sns-ks i {background-position: 0 -135px;}
.sns-list .sns-pk i {background-position: -45px -135px;}
.sns-list .sns-ml i {background-position: -90px -135px;}

// footer copyright
.copyright {
  padding: 40px 0;
  background: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  font-family: sans-serif;
  color: #818181;
}
.copyright p {
  letter-spacing: 0;
}

.copyright a, .copyright:hover  {
  color: #818181;
}

.copyright {
    padding: 40px 0;
    background: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    color: #818181;
    position: relative;
}
.copyright p {
    letter-spacing: 0;
    height: 16px;
    font-size: 11px;
    margin: 8px 0;
}
.copyright p .bold {
    font-weight: 600
}
.copyright p.p-text {
    font-weight: 400;
    letter-spacing: 1px;
    height: 15px;
    margin: 8px 0;
}
.copyright p.eng01 {
    font-weight: 400;
    letter-spacing: 1px;
    height: 24px;
    font-size: 0.6rem;
    padding-top: 0px;
    margin: 0px 0 30px 0;
}





.copyrightfooter_btnset{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.copyrightfooter_btnset:after {
    clear: both;
    content: '';
    display: table;
}
.copyrightfooter_btnset .copy_footer_btn1{
    float: left;
    width: calc(50vw - 1px);
    text-align: center;
    min-height: 40px;
    line-height: 40px;
    letter-spacing: 0.5px;
    border-top: 1px solid #ccc;
}
.copyrightfooter_btnset .copy_footer_btn2{
    float: left;
    width: calc(50vw - 1px);
    text-align: center;
    min-height: 40px;
    line-height: 40px;
    letter-spacing: 0.5px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}




.copyright .copyrightfooter_btnset .footer_mail {
    transition: color .3s ease;
    /*font-weight: 500;*/
    color: #818181;
    text-decoration: none;
}
.copyright .copyrightfooter_btnset .footer_mail i {
    width: 18px;
    height: 12px;
    top:2px;
    background: url(/ilab/img/sprite.png?v=2) no-repeat -150px 0;
    background-size: 200px;
    position: relative;
    display: inline-block;
    margin-right: 2px;
    vertical-align: baseline;
    /*margin-left: 10px;*/
    opacity: 0.5;
}


.copyright .copyrightfooter_btnset .footer_tel {
    transition: color .3s ease;
    /*font-weight: 500;*/
    color: #818181;
    text-decoration: none;
}
.copyright .copyrightfooter_btnset .footer_tel i {
    top: 3px;
    width: 16px;
    height: 16px;
    background: url(/ilab/img/sprite.png?v=2) no-repeat -170px 0;
    background-size: 200px;
    position: relative;
    display: inline-block;
    margin-right: 0px;
    vertical-align: baseline;
    margin-left: 10px;
    opacity: 0.5;
}
