//
// contribute timeline
//

#contribute-timeline {
  @extend %section-margin;
  background: $bg-gray;
  .heading-1 {
    line-height: rem(30px);
    padding: 0 0 rem(25px);
  }
  .timeline {
     position:relative;
     padding: rem(80px) 0 0;
    .line-wrapper {
      b {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: #ccc;
      }
    }
    .card {
      background: #fff;
      position: relative;
      margin: 0 0 rem(80px);
      z-index:11;
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
      }
      &:before {
        top: rem(-0px);
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        left: 50%;
        bottom: 100%;
        margin: rem(-14px) 0 0 rem(-14px);
      }
      &:after {
        top: rem(-14px);
        width: rem(20px);
        height: rem(20px);
        border-radius: 100%;
        z-index:11;
        bottom:: 100%;
        left: 50%;
        margin: rem(-20px) 0 0 rem(-10px);
      }
      .header {
        position: relative;
        padding: rem(15px);
        margin:0 auto;
        .lazyload {
          position: relative;
        }
      }
       img {
          width:100%;
      }
      .descText {
        padding: rem(15px);
      }
    }
      .odd.card {
        &:before {
          border-bottom: rem(14px) solid #fff;
        }
        &:after {
          background-color: #1ab7ca;
        }  
        &.t1883 {
        }
        &.t1953 {
          .header {
            height: rem(221px);
          }
          .lazyload {
            width: rem(166px);
            height: rem(221px);
            margin: 0 0 rem(30px);
          }
          .desc {
            padding-top: rem(160px);
            margin-left: rem(180px);
          }
          .descText {
             border-top: 1px solid #efefef;
          }
        }   
        &.t2004 {
          .bar-chart {
            position: relative;
            width:100%;
            height: rem(220px);
            margin:0 auto;
            .x-axis {
              position: absolute;
              // width:75vw;
              background-color:#ccc;
              height:rem(1px);
              left:0;right:0;
              bottom:rem(35px);
            }
            .unit {
              position: absolute;
              top:0;
              left:0;
              font-size: rem(11px);
            }
            .bar {
              position: absolute;
              top: rem(50px);
              left: 50%;
              margin: 0  0 0 -50%;
              height: rem(135px);
              width: 100%;
              text-align: center;
              .height-fix {
                background:transparent;
                height: 135px;
                width: 1px;
                margin:0;
                display:inline-block;
                position:relative;
              }
              .chart-bar {
                transform-origin: 50% 100%;
                width: 1%;
                margin: 0 2.5%;
                display:inline-block;
                position:relative;
                &.color-2004 {
                  background-color: #81d0ed;
                }
                &.color-2008 {
                  background-color: #75b2eb;
                }
                &.color-2011 {
                  background-color: #6995e9;
                }
                &.color-2014 {
                  background-color: #6283e7;
                }
                b {
                  position: absolute;
                  color: #6283e7;
                  font-weight: 200;
                  width:rem(28px);
                  left:50%;
                  margin-left: rem(-14px);
                  top: rem(-30px);
                  font-size: rem(11px);
                }
               }
             }
            .label {
              &:after {
                position: absolute;
                bottom: rem(-20px);
                left: 50%;
                margin: 0 0 0 rem(-15px);
                font-size: rem(9px);
                width: rem(30px);
              }
              &.l2004 {
                &:after {
                  content:'2004년';
                }
              }
              &.l2007 {
                &:after {
                  content:'2007년';
                }
              }  
              &.l2008 {
                &:after {
                  content:'2010년';
                }
              } 
              &.l2011 {
                &:after {
                  content:'2013년';
                }
              }  
              &.l2016 {
                &:after {
                  content:'2016년';
                }
              }
            }
            .year-label {
              position:absolute;
              bottom:rem(9px);
              width:100%;
              * {
                font-size: rem(8px);
                color: #666;
                display: inline-block;
              }
              .y2007, .y2013 {
                padding:0 13%;
              }
            }
          }
          .descText {
             border-top: 1px solid #efefef;
          }
        }
        &.t2013 {
          .descText {
             border-top: 1px solid #efefef;
            .text {
              padding: 0 0 rem(20px);
            }
          }
        }  
      }
  
      .even.card {
        &:before {
          border-bottom: rem(14px) solid #fff;
        }
        &:after {
          background-color: #3f8ee7;
          }
        &.t1630 {
          .header {
            margin: 0 0 rem(30px);
            .lazyload {
              width: rem(222px);
              height: rem(251px);
            }
            .desc {
              margin-left: rem(240px);
              .quote {
                display:block;
                padding: rem(50px) 0 rem(30px);
              }
            }
          }
          .descText {
             border-top: 1px solid #efefef;
            .text {
              padding: 0 0 rem(20px);
            }
          }
        }
        &.t2007 {
          label { 
            color: $text-color-light;
            width:100%;
            text-align: right;
            display:block;
            font-size: rem(12px);
            margin: rem(5px) 0 0;
          }
         .descText {
           border-top: 1px solid #efefef;
          }
        }
        &.t2004-1 {
          .descText {
             border-top: 1px solid #efefef;
            .text {
              padding: 0 0 rem(20px);
            }
          }
        }
      }
    .swiper-container {
      padding:rem(15px);
      position:relative;
      .slider-label {
        position:absolute;
        bottom: rem(-20px);
        text-align: right;
        width:100%;
        color: $text-color-light;
        font-size: rem(12px);
        font-weight:200;
      }
      .swiper-pagination {
        position: static;
        text-align: left;
      } 
    }  
  }
}
