// Intro Tips
//
//

.s-intro-tips {
  @extend %dark;
  position: relative;
  background-image: url('../img/senses/bg-intro-tips.jpg');
  background-color: transparent;
  height: 0;
  padding-bottom: (375/320 * 100%);
  .wrapper {
    position: absolute;
    top: 0;
    left: $wrapper-horizontal-margin;
    right: $wrapper-horizontal-margin;
    bottom: 0;
    max-width: none;
    .inner {
      position: absolute;
      left: 0;
      right: 0;
      bottom: rem(40px);
    }
  }
  .intro-scroll {
    padding-left: 45px;
    &:before {
      width: 40px;
    }
  }
}

.intro-tips-header,
.intro-tips-text {
  overflow: hidden;
  opacity: 0;
}

.intro-tips-header {
  line-height: 1;
  .sub-heading {
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 400;
  }
  .heading {
    margin-top: .3em;
    line-height: $heading-line-height;
  }
}

.intro-tips-text {
  padding-bottom: 1.4em;
  border-bottom: 1px solid rgba(255,255,255, .4);
  line-height: 1;
  font-size: $font-size-lead;
}