//
// Intro
//

#intro {
  @extend %flex-v-center;
  @extend %section-margin;
  @extend %has-bg;
  background:url('../img/intro/bg-intro.jpg') no-repeat 50% 50%/cover;
  #video-intro {
    width: 90vw;
    height: calc(90vw * 9 /16);
    margin: rem(30px) auto;
  }
.title {
  display: block;
  .heading-1 {
    line-height: rem(30px);
  }
  .heading-0 {
    line-height: rem(40px);
  }
}
  .wrapper {
    z-index:10;
      .text {
        padding: rem(30px) 0 0;
        z-index:11;
        &.bold {
          padding-top: rem(30px);
        }
      }
    }
  }
