// Layout
//
//


body {
  padding-top: $header-height !important; // gnb.css 가 덮어쓰지 않도록 important 추가
}

.viewport {
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-left: $wrapper-horizontal-margin;
  padding-right: $wrapper-horizontal-margin;
}


.section {
  background-color: #fff;
}

%full-screen {
  transform: translate3D(0,0,0); // ios safari scroll bug fix
  height: calc(100vh - #{$header-height});
  min-height: 500px;
}

%flex-v-center {
  display: table; //fallback
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
%flex-h-center {
  display: table; //fallback
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  //flex-direction: row;
  justify-content: center;
}

%has-bg {
  p, .heading-0, .heading-1, .heading-2, .heading-3 {
    color: #ffffff;
  } 
}

// Section
//
// 섹션에 따른 마진 일원화하기 - 배경 넣어야해서 margin 대신 padding으로 작업.
%section-margin {
  padding-top:    $vertical-margin;
  padding-bottom: $vertical-margin;
}
%section-margin-lg {
  padding-top:    $vertical-margin-lg;
  padding-bottom: $vertical-margin-lg;
} 