//
// Localizing 
//

#localizing {
  .content {
    padding: rem(35px) 0;
    .heading-3 {
      line-height: rem(30px);
      @extend .paper;
    }
    .heading-2 {
      line-height: rem(28px);
      // letter-spacing:rem(.5px);
      padding: 0 0 rem(15px);
    }
    .btn-circle {
      position: relative;
      &:after {
        content:'';
        position: absolute;
        width: rem(15px);
        height: rem(15px);
        left: 50%;
        top: 50%;
        margin: rem(-7.5px) 0 0 rem(-7.5px);
        background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhDA4KOQA38PDZAAAALklEQVQ4y2P8z4AX/GdgxC3JxEABGNU8qnlUMxbA+P8/JZrxy4/m51HNo5pJBQCftAY2e3bnXgAAAABJRU5ErkJggg==') no-repeat 50% 50%/cover;
      }
      &.close {
        &:after {
          content:'';
          position: absolute;
          width: rem(15px);
          height: rem(1px);
          left: 50%;
          top: 50%;
          margin: rem(-0.5px) 0 0 rem(-7.5px);
          background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAABAQAAAADhyyNBAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAd2KE6QAAAAHdElNRQfhDA4OAxV4jWKXAAAADUlEQVQI12P4////HwAJ+AP6RVWoUAAAAABJRU5ErkJggg==') no-repeat 50% 50%/cover; 
        }
      }
    }
    .lazyload {
      background-size: cover;
      background-position: 50% 50%;
      margin:0 auto;
    }
    .inner {
      padding: rem(20px) 0 0;
      p.text {
        margin: 0 0 rem(25px);
      }
    }
    .hide-content {
      display: none;
      &.active {
        display: block;
      }
    }

    &#content-1 {
      .heading-2 {
        span {
          font-size: rem(18px); 
        }
      }
      .btn-circle {
        background-color: rgb(26, 183, 202);
        &:after {

        }
      }
      .lazyload {
        width: 80vw;
        height: calc(80vw * 417 / 488);
      }
    }
    &#content-2 {
      .heading-2 {
        span {
          font-size: rem(22px);
        }
      }
      .btn-circle {
        background-color: #dc3b7e;
      }
     .lazyload {
        width: 40vw;
        height: calc(40vw * 420 / 333);
      }
    }
    &#content-3 {
      .btn-circle {
        background-color: rgb(26, 183, 202);
      }
      .lazyload {
        width: 60vw;
        height: calc(60vw * 384 / 355);
      }
      .quote {
        padding: rem(25px) 0;
      }  
    }
  }
}
