// Main
//
// 프로젝트 메인 컨텐츠 스타일 - common style

// Fill Text
//
.fill-text {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  .color {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
  }
}