//
// more
//

#more {
  background: url('../img/more/bg-more.jpg') no-repeat 50% 50%/cover;
  #video-more {
    width: 100vw;
    height: calc(100vw * 9 / 16);
  }
  .heading-4 {
    text-align: center;
    padding:rem(30px);
  }
  .text {
    text-align: center;
  	color: $text-color-light;
    padding: rem(30px) 0 rem(15px);
  }
  .btn {
  	margin:0 auto rem(5px);
   	border-radius:0;
    height:rem(40px);
    display:block;
    width: 80vw;
  }
} 

