// Nav
//
//

.nav {
  z-index: $z-nav;
  position: fixed;
  right: 0;
  top: $header-height;
  bottom: 0;
  line-height: 1;
  .nav-menu {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: rem(50px);
    height: rem(50px);
    background: rgba(0,0,0,.5);
    @at-root .nav-opened & {
      background: transparent;
    }
    .icon-menu,
    .icon-close {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: 50% 50% no-repeat;
      background-size: contain;
    }
    .icon-menu {
      width: rem(25px);
      height: rem(21px);
      background-image: url('../img/icon-nav@2x.png');
      @at-root .nav-opened & {
        opacity: 0;
      }
    }
    .icon-close {
      opacity: 0;
      width: rem(22px);
      height: rem(22px);
      background-image: url('../img/icon-nav-close@2x.png');
      @at-root .nav-opened & {
        opacity: 1;
      }
    }
  }
  .inner {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    width: rem(175px);
    height: 100%;
    padding: rem(50px - 12px) rem(20px) rem(20px);
    background: rgba(#000, .9);
    transform: translate(100%, 0);
    transition: transform .6s;
    @at-root .nav-opened & {
      transform: translate(0, 0);
    }
    a {
      display: block;
      padding: rem(12px) 0 rem(10px);
      border-bottom: 1px solid rgba(#fff, .5);
      color: #ffffff;
      > span {
        display: block;
        &:first-child {
          margin-bottom: rem(6px);
        }
      }
      .normal {
        font-weight: $font-weight-b;
        font-size: $font-size-lead;
      }
    }
  }
}