// Outro
//
//

.s-outro {
  text-align: center;
  .lead {
    @extend %dark;
    @extend %section-margin;
    @extend .buri;
    font-size: $heading-5;
  }

  .footer {
    @extend %dark;
    @extend %section-margin-lg;
    line-height: 1;
    .logo {
      margin-bottom: rem(20px);
      img {
        width: auto;
        height: 16px;
      }
    }
    .more {
      font-size: $font-size-small;
      span {
        padding-bottom: rem(2px);
        border-bottom: 1px solid #fff;
        &:after {
          position: relative;
          top: 0;
          content: '>';
          display: inline;
          margin-left: .8em;
          font-size: 1em;
        }
      }
    }
  }
}