// Sales
//
//

.s-channels {
  @extend %full-screen;
  @extend %flex-v-center;
  background-image: url('../img/sales/bg-channels1.jpg'), url('../img/sales/bg-channels2.jpg'); // 위 아래에 이미지 놓기
  background-repeat: no-repeat;
  background-position: 0 0, 0 100%;
  background-size: contain;
  .inner {
    position: relative;
    width: 100%;
    padding: rem(40px) 0;
    background: #fff; // 위아래 이미지랑 컨텐츠 영역 겹칠 경우 대비
    text-align: center;
  }
}

.channels-header {
  margin-bottom: rem(18px);
}

.channels-body {
  .channels-nav {
    position: relative;
    width: rem(250px);
    margin: 0 auto;
    border-top: 1px solid rgba(#000, .6); // #666
    &:after {
      content: '>';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0) rotate(90deg);
      color: $text-color-light;
      font-size: $font-size-smaller;
    }
  }
  .channels-history-active {
    position: relative;
    height: rem(80px);
    margin-bottom: rem(8px);
    li {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      &:not(:first-child) {
        opacity: 0;
      }
      .years {
        margin-bottom: rem(8px);
        font-weight: $font-weight-b;
        color: $brand-primary;
      }
      .text {
        font-size: $font-size-lead;
        line-height: $heading-line-height;
      }
    }
  }
  .channels-history {
    position: relative;
    height: 1em;
    margin-top: rem(25px);
    line-height: 1;
    font-size: $font-size-medium;
    color: $text-color-lighter;
    li {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      &:not(:first-child) {
        opacity: 0;
      }
    }
  }
}
