// Sales
//
//

.s-interview {
  @extend %dark;
  position: relative;
  height: 0;
  padding-bottom: 100%*225/320;
  text-align: center;
  line-height: 1;
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend %flex-v-center;
  }
  .sub-heading {
    @extend %white-muted;
    position: relative;
    font-size: $font-size-smaller;
    text-transform: uppercase;
    span {
      border-bottom: 1px solid #fff;
    }
  }
  .heading {
    margin-top: rem(4px); // interview border 맞추기
    padding-top: rem(15px);
    line-height: 1;
    .buri {
      @extend %white-muted;
      margin: 0 .2em 0 .15em;
    }
  }
  .interview-body {
    margin-top: rem(14px);
    .who {
      @extend %white-muted;
    }
    .btn {
      margin-top: rem(20px);
      &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: rem(6px) solid transparent;
        border-left: rem(10px) solid #fff;
        border-bottom: rem(6px) solid transparent;
        margin-right: rem(10px);
        transform: translate(0, 1px);
      }
    }
  }
}

// 비디오 팝업
.s-interview-popup {
  display: none;
  z-index: $z-popup;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .7);
  .outer {
    width: 100%;
    height: 100%;
    @extend %flex-v-center; // display: none 일경우 flex 깨지기 때문에 outer 태그 추가함.
  }
  .inner {
    video {
      width: 100%;
      height: auto;
    }
    .popup-close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}