//
// Sangsang Madang
//
#sangsang-madang {
	@extend %flex-v-center;
	@extend %section-margin;
	height: 100%;
	overflow:hidden;
	.heading-1 {
		line-height: rem(30px);
		span {
			color: $blue;
			padding: 0 0 0 rem(20px);
		}
	}
	.text {
		padding: 0 0 rem(25px);
	}
	.lazyload {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		margin: rem(30px) auto;
		&#artist-1 {
		  width: 80vw;
		  height: calc(80vw * 316 / 477);
		}
		&#artist-2 {
		  width: 80vw;
		  height: calc(80vw * 360 / 456);
		}
	}
}