//
// sangsang univ
//
#sangsang-univ {
  background-color: $bg-gray;
  @extend %flex-v-center;
  @extend %section-margin;
  .sub-title {
    font-size: $font-size-medium;
    background-color: rgb(204, 204, 204);
    height: rem(20px);
    text-align: center;
    display:block;
    margin:0 auto;
    color: #fff;
    letter-spacing: rem(5px);
    font-weight: 500;
  }
  .iconbox {
    margin-top: rem(30px);
    position: relative;
    .icon {
      border-radius: 50%;
      background-color: #fff;
      position: relative;;
      width: rem(100px);
      height: rem(100px);
      z-index: 9;
      margin: 0 auto;
      > * { 
        position: absolute;
        top: 50%;
        left: 50%;
      }
      .icon-1 {
         margin: rem(-25px) 0 0 rem(-20px);
         svg {
            width: rem(40px);
            height: calc(40px * 96 / 73);
         }
      }        
      .icon-2 {
        margin: rem(-23px) 0 0 rem(-25px);
        svg {
            width: rem(50px);
            height: calc(50px * 90 / 96);
        }
      }        
      .icon-3 {
        margin: rem(-40px) 0 0 rem(-35px);
        svg {
          width: rem(70px);
          height: calc(70px * 135 / 131);
        }
      }        
      .icon-4 {
        margin: rem(-27mpx) 0 0 rem(-27.5px);
        svg {
          width: rem(55px);
          height: calc(55px * 101 / 100);
        }
      }
      .bold {
        padding: rem(25px) 0 rem(15px);
      }
    }
    .descText {
      padding: rem(15px) 0 rem(10px);
      text-align:center;
      .chart {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 50vw;
        height: calc(50vw * 170 / 407);
        margin:0 auto;
      }
    }
  }
}