// Senses
//
//

// 1. 차 그래프
.graph-tea {

}

// 2. 차 알고 마시기
.box-tea1 {
  position: relative;
  padding-top: 150px + 20px !important; // image width + padding-top
  background-image: url('../img/senses/tea.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  .icon-tea {
    position: absolute;
    right: 30px;
    top: 170px;
  }
  .tea-list {
    margin-bottom: rem(15px);
    dt {
      font-weight: $font-weight-b;
      color: $brand-primary;
      &:not(:first-child) {
        margin-top: rem(10px);
      }
    }
  }
}

// 3. 계절별 추천차
.box-tea2 {
  padding-top: 125px + 20px !important; // image width + paddiing-left
  background-image: url('../img/senses/tea2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  .tab-nav .icon { // 내부 아이콘 하단 맞추기
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: rem(5px);
  }
}