// Senses
//
//

.s-5senses {
  @extend %dark;
  position: relative;
  height: 0;
  padding-bottom: 100%*184/320;
  text-align: center;
  line-height: 1;
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend %flex-v-center;
    padding-bottom: rem(12px); // 글자 올리기
    &:after { // 하단 선
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      margin: rem(12px) auto 0;
      background: #fff;
    }
  }
  .heading {
    position: relative;
    line-height: 1;
    .cn {
      font-size: $display-2;
      color: rgba(#fff, .15);
      font-weight: 100;
    }
    .ko {
      position: absolute;
      bottom: 1px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  .p-lead {
    margin-top: rem(10px);
  }
}