// Senses
//
//

.s-sense-body {
  @extend %full-screen;
  @extend %flex-v-center;
  align-items: normal;
  position: relative;
  padding: rem(20px) 0 rem(40px);
  background: $brand-primary center center no-repeat;
  background-size: cover;
  .inner {
    width: rem(280px);
    margin: 0 auto;
  }
}

.sense-slider-header {
  position: relative;
  height: 3em;
  margin-bottom: rem(12px);
  font-size: $heading-5;
  @include media-breakpoint-down(sm) {
    font-size: $font-size-lead;
  }
  .heading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 2em;
    color: #fff;
    line-height: 1.3;
    font-size: inherit;
    font-weight: $font-weight-n;
    small {
      font-size: $font-size-small;
    }
    .num {
      position: absolute;
      top: -.2em;
      left: 0;
      font-size: $heading-2;
      font-weight: $font-weight-n;
      letter-spacing: normal;
      @include media-breakpoint-down(sm) {
        font-size: $heading-4;
      }
    }
    .word:not(:last-child) {
      margin-right: .2em;
    }
    .char-outer {
      overflow: hidden;
    }
  }
}

.sense-slider {
  overflow: hidden;
  position: relative;
  height: rem(375px);
  margin: 0 auto;
  background-color: #fff;
  .box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: #fff;
    &.padding {
      padding: rem(15px);
    }
    &.padding-lg {
      padding: rem(20px);
    }
    .box-heading {
      padding-bottom: rem(6px);
      margin-bottom: rem(20px);
      border-bottom: 1px solid $border-color-gray-lighter;
      color: $brand-primary;
      font-size: $font-size-lead;
      font-weight: $font-weight-b;
      letter-spacing: -.04em;
      line-height: 1;
    }
  }
}

.sense-slider-dots {
  margin-top: rem(20px);
  text-align: center;
  color: #ffffff;
  line-height: 1;
  .dot {
    @extend .num;
    display: inline-block;
    margin: 0 rem(10px);
    font-size: $font-size-medium;
    transition: transform .4s;
    &.active {
      font-weight: $font-weight-b;
      transform: scale(2);
    }
  }
  @media (max-height: 600px) { // for iphone5
    margin-top: rem(5px);
    .dot {
      &.active {
        transform: scale(1.5);
      }
    }
  }
}