// Senses
//
//

// 1. 콜센터 그래프
.graph-hearing {
  text-align: center;
}

// 2. 전화 예절
.box-phone {
  padding-top: 90px + 20px !important; // image width + padding-top
  background-image: url('../img/senses/phone.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  .phone-tab {
    .tab-nav a {
      width: 33.333%;
    }
    .call-tip {
      padding-left: .9em;
      list-style: decimal outside;
      color: $text-color;
    }
  }
}