// Senses
//
//

.s-sense-top {
  @extend %section-margin;
  padding-bottom: 0;
}

.sense-top-header {
  position: relative;
  z-index: 1;
  text-align: center;
  .heading {
    line-height: 1;
    .cn {
      display: block;
      font-size: $display-3;
      color: $brand-primary;
    }
    .ko {
      display: block;
      margin-top: rem(4px);
      font-size: $font-size-small;
      color: $text-color-light;
      font-weight: $font-weight-n;
    }
  }
  .sub-heading {
    width: 1em;
    margin: rem(15px) auto 0;
    font-size: $heading-6;
    color: $text-color-dark;
    line-height: 1.15;
    letter-spacing: normal;
    span {
      display: block;
      &:not(:first-child) {
        margin-top: .4em;
      }
    }
  }
}

.sense-top-video {
  position: relative;
  z-index: 1;
  margin-top: rem($vertical-margin/2);
}

.sense-top-footer {
  @extend %flex-h-center;
  > * {
    width: 50%;
  }
  &.layout-left {
    .sense-top-summary       { order: 2; }
    .sense-top-quote-wrapper { order: 1; }
  }
  &.layout-right {
    .sense-top-summary       { order: 1; }
    .sense-top-quote-wrapper { order: 2; }
  }
}

.sense-top-summary {
  @extend %dark;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url('../../img/senses/bg-video-side.jpg');
  .num {
    position: absolute;
    top: -32px;
    font-size: $display-0;
    color: $brand-primary-light;
    line-height: 1;
    @at-root .layout-left & {
      right: -2px;
    }
    @at-root .layout-right & {
      left: -14px;
    }
  }
  .text {
    position: absolute;
    left: rem(25px);
    bottom: rem(40px);
    text-indent: -.4em;
  }
}

.sense-top-quote-wrapper {
  position: relative;
  padding-top: rem(20px);
  padding-bottom: rem(120px); // sns 영역
}
.sense-top-quote {
  .inner {
    padding-left: rem(28px);
    .text {
      font-size: $heading-6;
      color: $heading-text-color;
      text-indent: -.3em;
      .colored {
        display: inline-block;
        margin-bottom: .2em;
        border-bottom: 1px solid $brand-primary;
        text-indent: 0;
      }
      &:before, &:after {
        display: inline-block;
        @extend .buri;
        transform: translate(.2em, -.1em);
      }
      &:before {
        content: '“';
      }
      &:after {
        content: '”';
      }
    }
    .from {
      margin-top: rem(18px);
      color: $text-color-dark;
      .name {
        display: block;
        font-size: $font-size-lead;
      }
    }
  }
}

.section-sns {
  position: absolute;
  bottom: 0;
  width: rem(40px);
  height: rem(40px);
  @at-root .layout-left & {
    right: -1px;
  }
  @at-root .layout-right & {
    left: -1px;
  }
  a {
    box-sizing: border-box;
    display: inline-block;
    height: rem(40px);
    background: 50% 50% no-repeat;
    &.share {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: rem(40px);
      border: 1px solid $brand-primary;
      background-color: #fff;
      background-image: url('../../img/senses/icon-share.svg');
      background-size: 19px auto;
    }
    &.kakaotalk { background-image: url('../img/senses/icon-kakaotalk.svg'); }
    &.kakaostory { background-image: url('../img/senses/icon-kakaostory.svg'); }
    &.twitter    { background-image: url('../img/senses/icon-twitter.svg'); }
    &.facebook   { background-image: url('../img/senses/icon-facebook.svg'); }
    &:focus {
      outline: none;
    }
  }
  .section-sns-list {
    position: absolute;
    bottom: 100%;
    width: rem(35px*4);
    font-size: 0;
    @at-root .layout-left & {
      right: 0;
    }
    @at-root .layout-right & {
      left: 0;
    }
    a {
      width: rem(35px);
    }
  }
}