// Senses
//
//

// 1. 국내 향수 시장
.graph-perfume {
  text-align: center;
}

// 2. TPO 향수 사용법
.tab-perfume-tpo {
  > .tab-nav {
    border-bottom: 1px solid $border-color-gray-lighter;
    a {
      flex: 1;
      top: 1px;
      padding: .06em 0;
      border: 1px solid transparent;
      &.active {
        border-color: $brand-primary;
        &:after {
          display: none;
        }
      }
    }
  }
  .item3 .tab-nav a {
    margin-top: 13px; // item1,2 내부 탭이랑 높이 맞추기
  }
}

// 3. 향수 사용법
.perfume-slider {
  .item {
    padding-top: rem(10px);
  }
  .question {
    color: $brand-primary;
    font-size: $font-size-lead;
    letter-spacing: -.04em;
  }
  .answer {
    margin-top: 1.2em;
    font-size: $font-size-medium;
    color: -.04em;
    &:not(:last-child) {
      margin-bottom: 1.2em;
    }
  }
}