// 
// Swiper-slide
//

#info {
  .swiper-pagination {
    .swiper-pagination-bullet {
        width: rem(8px);
        height: rem(8px);
        border-radius: 50%;
        background-color: rgb(91, 95, 126);
        &-active {
          background-color: rgb(255, 255, 255);
      }
    }
  }
}

.contribute {
  .swiper-pagination {
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        &-active {
        border-radius: 50%;
        background-color: rgb(245, 148, 30);
      }
    }
  }
}

