// Tab
//
//

.tab-nav {
  @extend %flex-h-center;
  a {
    position: relative;
    display: block;
    width: 25%; // 4개
    padding-bottom: rem(10px);
    border-bottom: 1px solid $brand-primary;
    text-align: center;
    font-weight: $font-weight-b;
    .icon {
      display: block;
      height: 45px;
    }
    &.active {
      color: $brand-primary;
      &:after {
        content: '';
        display: block;
        width: rem(25px);
        height: 3px;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: $brand-primary;
      }
      .icon {
        path, circle, line, polygon, rect, polyline {
          &:not(.fill) {
            stroke: $brand-primary !important;
          }
        }
        svg text, .fill {
          fill: $brand-primary !important;
        }
      }
    }
  }
}
.tab-content {
  margin-top: rem(25px);
  padding: 0 rem(10px);
  .item:not(.active) {
    display: none;
  }
}