// Variables
//
//


// Color
//
$aqua			   :  #1ab7ca;
$blue 			   :  #3f8ee7;
$opacity-blue      :  #9fc8f7;
$opacity-aqua      :  #a4eaf3;
$opacity-violet    :  #aabbf5;

$brand-primary-dark:  #ffffff;
$brand-primary:       #062c5e;
$brand-primary-light: #093874;

$text-color-white:    #e3e3e3;
$text-color-lighter:  #888888;
$text-color-light:    #666666;
$text-color:          #000000;
$text-color-dark:     #222222;

$body-bg:             #fff;
$bg-gray: 			  #efefef;

$border-color-gray-lighter:   #bfbfbf;
$border-color-gray-light:     $text-color-light;


// Typography
//
$font-family:         'NotoSansKR', sans-serif;
$font-family-paper:   'Paper', sans-serif;

$font-weight-n:       200;
$font-weight-b:       400;
$font-weight:         $font-weight-n;
$line-height:         1.5;
$letter-spacing:      -.05556rem;
$font-size-base:      14px;
$font-sizes: ( // responsive font sizes
  xs: $font-size-base
);

$font-size-smaller:   rem(12px);
$font-size-small:     rem(14px);
$font-size-medium:    rem(16px);
$font-size-lead:      rem(18px);

$heading-3:           rem(24px);
$heading-2:           rem(35px);
$heading-1:           rem(27px);
$heading-0:			  rem(60px);

$heading-font-weight:    $font-weight-b;
$heading-text-color:     $text-color-dark;
$heading-line-height:    1.5;
$heading-letter-spacing: -.05556rem;

$link-color:          $text-color;
$link-color-hover:    $text-color;


// Button
//
$btn-height-lg:         rem(45px);
$btn-height:            rem(40px);
$btn-height-sm:         rem(30px);

$btn-padding-lg:        rem(48px);
$btn-padding:           rem(43px);
$btn-padding-sm:        rem(33px);

$btn-font-size-lg:      $font-size-medium;
$btn-font-size:         1rem;
$btn-font-size-sm:      $font-size-small;

$btn-border-color:      $brand-primary;
$btn-text-color:        $brand-primary;
$btn-bg-color:          transparent;


// Responsive Design
//
$breakpoints: (
  xs:     0,
  //sm:   425px,
  //md:   800px,
  //lg:  1024px,
  //xl:  1100px,
  //xxl: 1400px
);



$max-width: 600px; // 화면 $max-width 이상일 경우 중앙 박스로 정렬
$wrapper-horizontal-margin: rem(25px);

$header-height: 50px;

// section margin
$vertical-margin:    50px;
$vertical-margin-lg: 90px;


