// Video
//
//

// Custom poster and play button
//
.video-play {
  position: relative;
  .play {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: $font-size-medium;
    color: #ffffff;
    letter-spacing: normal;
    text-align: center;
    @extend %flex-v-center;
    // &:after {
    //   content: '';
    //   display: block;
    //   width: 72px;
    //   padding-top: 100px;
    //   background: url('../img/video/play.svg') 50% 0 no-repeat;
    //   background-size: 72px auto;
    // }
    &:after,
    div { // after  보다 위로
      position: relative;
      z-index: 1;
    }
  }
  video {
    display: block;
    width: 100%;
    height: 100%;
  }
}
