<div class="contribute-timeline">
	<h2 class="heading-1"></h2>
	<div class="container col2 type-line">
		<div class="col even">
			<div class="cards t1953"></div>
			<div class="cards t1883"></div>
			<div class="cards t2004"></div>
			<div class="cards t2013"></div>
		</div>
		<div class="col line-wrapper"></div>
		<div class="col odd">
			<div class="cards t1630"></div>
			<div class="cards t1980"></div>
			<div class="cards t2007"></div>
			<div class="cards t2004-1"></div>
		</div>
	</div>
</div>