<div class="contribute-timeline">
	<div class="wrapper">
		<h2 class="heading-1">
			진화하는 사회공헌<br>
			“후원자에서 기획가로”
		</h2> 
		<div class="container col2 type-line">
			<div class="col odd">
				<div class="card t1953">
					<div class="header">
						<div class="lazyload" data-src="./img/contribute/t1953.png"></div>
						<div class="desc">
							<p class="p-lead bold">기업인의 사회적 책임 (1953년)</p>
							<p class="p-lead">/ 하워드 보웬 지음</p>
						</div>	
					</div>
				    <div class="descText">
						<p class="text">
							기업의 사회적 책임이 학문적 관심 대상이 된 것은 1950년대부터다. 경제학자 하워드 보웬은 『기업인의 사회적 책임』(1953년)이라는 저서에서 <span class="bold">“기업가가 의사결정을 할 때는 사회 전체의 목적이나 가치에 부합해야 한다. 이를 통해 기업은 사회적 책임을 부여 받는다”</span>고 규정했다. 미국 기업들이 본격적으로 사회공헌 투자에 나선 것은 1970~80년대 들어서다.
						</p>
					</div> 
				</div>
				<div class="card t1883">
				    <div class="descText">
						<p class="text">
							1883년 설립된 국영 연초 제작소인 ‘순화국(順和局)’은 KT&amp;G의 창립 기원이다.  국영 기업을 모태로 130여 만에 글로벌 기업으로 성장한 KT&amp;G는, 국민 기업으로서 회사의 성과를 사회에 환원한다는 의미에서 적극적으로 사회공헌 활동을 펼치고 있다. 2002년 완전 민영화 이후엔 ‘함께하는 기업’을 경영이념 중 하나로 선포했다. 
						</p> 
					</div>
				</div>
				<div class="card t2004">
					<div class="header">
						<div class="bar-chart">
							<div class="unit">(단위:억)</div>
						    <div class="x-axis"></div>
						    <div class="bar">
							    <div class="height-fix"><b></b></div>
							    <div class="chart-bar color-2004" data-num="440"><b></b></div>
							    <div class="chart-bar color-2004" data-num="437"><b></b></div>
							    <div class="chart-bar color-2004" data-num="623"><b></b></div>
							    <div class="chart-bar color-2004" data-num="507"><b></b></div>
							    <div class="chart-bar color-2008" data-num="530"><b></b></div>
							    <div class="chart-bar color-2008" data-num="626"><b></b></div>
							    <div class="chart-bar color-2008" data-num="595"><b></b></div>
							    <div class="chart-bar color-2011" data-num="504"><b></b></div>
							    <div class="chart-bar color-2011" data-num="552"><b></b></div>
							    <div class="chart-bar color-2011" data-num="527"><b></b></div>
							    <div class="chart-bar color-2014" data-num="584"><b></b></div>
							    <div class="chart-bar color-2014" data-num="808"><b></b></div>
							    <div class="chart-bar color-2014" data-num="728"><b></b></div>
							</div>
							<div class="year-label">
								<div class="y2004">2004년</div>
								<div class="y2007">2007년</div>
								<div class="y2010">2010년</div>
								<div class="y2013">2013년</div>
								<div class="y2016">2016년</div>
							</div>
						</div>
					</div>
					<div class="descText">
						<p class="text">
							2004년 이후 지난해까지 KT&amp;G는 <span class="bold">매출의 2% 이상을 꾸준히 사회 공헌 활동에 지원하고 있다. 이는 대기업 평균인 0.2%(전국경제 인연합회 집계)보다 10배가량 높은 비율이다.</span> 본격적으로 글로벌 CSR에 나선 것은 2014년, 자카르타에 상상유니브를 시범 개설한 것은 2015년이다. 이와 더불어 현지인을 적극 채용해 지역경제를 살리고, 문화예술을 지원하고 있다.
						</p>
					</div>
				</div>
				<div class="card t2013">
			        <div id="t2013" class="swiper-container contribute">
			        	<div class="swiper-wrapper">
			        		<div class="swiper-slide lazyload" data-src="./img/contribute/t2013-1.jpg"><div class="slider-label">북한산 생태복원 프로젝트</div></div>
			        		<div class="swiper-slide lazyload" data-src="./img/contribute/t2013-2.jpg"><div class="slider-label">북한산 생태복원 프로젝트</div></div>
			        		<div class="swiper-slide lazyload" data-src="./img/contribute/t2013-3.jpg"><div class="slider-label">마을벽화 그리기</div></div>
			        		<div class="swiper-slide lazyload" data-src="./img/contribute/t2013-4.jpg"><div class="slider-label">마을벽화 그리기</div></div>
						</div>
						<div class="swiper-pagination"></div>
			        </div>
			        <div class="descText">
						<p class="text">
							KT&amp;G 사회공헌의 또 다른 키워드는 ‘청춘’이다. 미래 세대와 함께 나눔 활동을 실천해 더불어 가꾸는 사회를 만들겠다는 취지에서다. 
						</p>
						<p class="text">
							2013년부터 ‘도심 속 자연공원을 보존하다’는 캐치프레이즈를 내걸고 북한산 생태복원 프로젝트를 진행하고 있다. 매년 대학생 자원봉사자 100여 명이 참여한다. 올해 4월엔 북한산 내 산림이 훼손된 지역에 자생종인 산수국 2000그루를 심었다. 
						</p>
						<p class="text">
							마을벽화 그리기는 지금까지 70여 회가 실시돼 8000명 넘게 참여한 인기 프로그램이다. 노후화된 옛 도심에 벽화를 그리고 화단을 가꿔 밝고 생기 있는 도시로 탈바꿈시킨다는 프로젝트다. 올해는 부산·인천·대전·창원·전주 등 주요 도시에서 열렸다.
						</p>
					</div>
				</div>
			</div>
			<div class="col line-wrapper">
				<b></b>
			</div>
			<div class="col even">
				<div class="card t1630">
					<div class="header">
						<div class="lazyload" data-src="./img/contribute/t1630.png"></div>
						<div class="desc">
							<i class="quote">
								“언덕 위에 도시를 짓고<br>
								 기부를 바탕으로 한<br> 
								 새로운 사회를 만들자” 
							</i>
							<p class="p-lead bold">JOHN WINTHROP</p>
							<p class="p-lead">1587년 ~ 1649년</p>
						</div>	
					</div>
				    <div class="descText">
						<p class="text">
							1630년 청교도를 태우고 미국 보스턴으로 입항하던 아라벨라호 선상에서 존 윈스롭 목사는 이렇게 강조했다. <span class="bold">“언덕 위에 도시를 건설하고 기부를 바탕으로 한 새로운 사회를 구축하자.” 이 연설은 근대 기부 문화의 연원으로 불린다</span>(기 소르망 지음, 『세상을 바꾸는 착한 돈』, 문학세계). 이후 미국 역사에서 벤자민 프랭클린부터 존 록펠러, 빌 게이츠, 마크 주커버그 등으로 부의 사회 환원이 꾸준히 이어지고 있다. 
						</p>
					</div>
				</div>
				<div class="card t1980">
					<div class="descText">
						<p class="text">
							국내 기업들 사이에도 1980년대 들어 사회공헌에 대한 인식이 퍼지기 시작했다. 대기업을 중심으로 복지재단이 속속 설립됐다. 다만 일회성 기부가 대부분이었다. 전담 조직을 갖추는 등 체계화가 이뤄진 것은 90년대 이후다. 
						</p>
					</div>
				</div>
				<div class="card t2007">
					<div class="header">
						<div class="lazyload" data-src="./img/contribute/t2007.png"></div>
						<label>홍대 상상마당</label>
					</div>
				    <div class="descText">
						<p class="text">
							KT&amp;G 사회공헌의 키워드는 ‘상상’이다. 서울 홍익대 앞에 ‘상상 마당’(2007년)을 세워 젊은 문화예술인들을 적극 지원하면서 유명 해졌다. ‘더 좋은 내일을 응원합니다’라는 슬로건을 내걸고 대학생 들의 ‘자기성장’을 지원하기 시작한 것도 이즈음이다. 꿈과 열정만 가져오면 이를 실현하는 지렛대가 되겠다는 게 기획 의도였다. 
						</p>
					</div>
				</div>
				<div class="card t2004-1">
			        <div id="t2004-1" class="swiper-container contribute">
			        	<div class="swiper-wrapper">
			        		<div class="swiper-slide lazyload" data-src="./img/contribute/t2004-1.jpg"><div class="slider-label">차량 전달식</div></div>
			        		<div class="swiper-slide lazyload" data-src="./img/contribute/t2004-2.jpg"><div class="slider-label">차량 전달식</div></div>
			        		<div class="swiper-slide lazyload" data-src="./img/contribute/t2004-3.jpg"><div class="slider-label">어르신 탁구대회</div></div>
			        		<div class="swiper-slide lazyload" data-src="./img/contribute/t2004-4.jpg"><div class="slider-label">어르신 탁구대회</div></div>
						</div>
						<div class="swiper-pagination"></div>
						
			        </div>
		            <div class="descText">
						<p class="text">
							KT&amp;G 사회공헌의 주요한 운영 철학은 세심함과 꾸준함이다. 디테일한 관찰과 분석을 통해 사업을 발굴하고 뚝심 있게 지원한 다는 것이다. 
						</p>
						<p class="text">
							사회복지재단에 경승용차를 지원하는 사업이 대표적이다. 현장의 사회복지 프로그램이 ‘찾아가는 복지사업’으로 전환되고 있다는 점에 착안했다. 복지 수혜자의 특성상 도로시설이 열악한 곳을 운행 하는데 적합한 경차로 지원 수단을 정했다. KT&amp;G복지재단은 2004년부터 ‘경승용차 공급사업’을 실시해 매년 100대씩, 지금까지 1400대의 경차를 전달했다. 
						</p>
						<p class="text">
							노인 복지와 건강 증진을 위해 주최한 ‘어르신 탁구대회’는 올해 14회째를 맞았다. 지난달 서울 송파구 SK핸드볼경기장에서 열린 탁구 대회에는 전국 160개 노인복지시설 소속 60세 이상 노인 1280여 명이 참여했다. 응원단까지 합치면 3000명 가까이 모이는 대형 행사다.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>