<div class="wrapper">
  <h2 class="heading-1">
    한국에선 2007년부터 ‘상상 인재’ 키워
  </h2>
  <p class="lead">
    자카르타 사회공헌 프로그램을 기획하면서 KT&amp;G는 나름 기대감이 있었다. 
국내에서 쌓아온 ‘내공’이 든든했기 때문이다. KT&amp;G는 2007년부터 국내에서 ‘상상마당’을 운영하고 있다. 젊음의 메카인 서울 홍익대 앞과 강원도 춘천, 충남 논산 등에서 아티스트 지망생을 대상으로 소통 중심의 문화 생태계를 지원하는 활동이다. 
  </p>
  <p class="lead">
   일반인에겐 ‘문화허브’로 유명하지만 상상마당은, 아주 특별한 ‘인재 육성 프로젝트’로도 눈길을 끈다. 예술가 지망생에게 전문적인 교육과 지속적인 동기 부여를 하는 커리큘럼을 제공하는 것이다. 
그림책 워크숍, 피규어(사람이나 동물·캐릭터 등을 정밀하게 본뜬 모형 장난감) 디자인, 문화예술 비평 분야 등에서 5~7개월간 집중 교육을 한다. 
수강생들은 수료에 즈음해 작품전·전시회 같은 결과물을 내놓고, 이를 바탕으로 창업을 준비하기도 한다. 
자카르타의 프란스가 바리스타 과정을 마치고 ‘인도네시아의 커피 왕’을 꿈꾸는 것과 비슷하다.
  </p>
</div>