<div class="hero">
  <div id="bg-img"></div>
  <div id="bg-hero" class="section">
    <div class="wrapper">
      <div class="inner">
        <header class="hero-main">
          <div class="tween">
            <h2 class="heading-0"><span class="big">눈</span>맞<span class="up2">추</span>고, <span class="big"
            >귀</span>&nbsp;기<span class="up">을</span><span class="up2">이</span>다</h2>
            <p class="sub-heading-0">한<span class="big up2">류</span><span class="num">3.0</span><span class="big down">꽃</span>&nbsp;피<span class="up">우</span>다</p>
          </div>
        </header>
      </div>
      <div class="intro-scroll">
             <svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="32px" height="26px">
<path opacity="0.5" fill="rgb(255, 255, 255)"
 d="M16.000,17.313 L0.444,1.757 L1.858,0.342 L16.000,14.484 L30.142,0.342 L31.556,1.757 L16.000,17.313 ZM16.000,22.970 L25.899,13.071 L27.314,14.484 L16.000,25.798 L4.686,14.484 L6.100,13.071 L16.000,22.970 Z"/>
</svg>
      </div>
    </div>
  </div>
</div>
<div id="hero-sub">
  <div class="wrapper">
      <div class="intro-text">
        <p class="tween">
          <span class="bold">낯선</span> 나라에서 <span class="bold">낯선</span> 청춘에게 <span class="bold">낯선</span> 제안을 했습니다.<br>
          그리고 <span class="bold">2년이 지났습니다.</span> 어떤 일이 벌어졌을까요?
        </p>
      </div>
      <h2 class="heading-2">KT&amp;G의&nbsp;<span class="bold blue">글로벌&nbsp;사회공헌</span>&nbsp;이야기
      </h2> 
  </div>
</div>
