<div class="hero">
  <div id="bg-hero" class="section lazyload" data-src="./img/hero/bg-hero.jpg">
    <div class="wrapper">
      <div class="inner">
        <header class="hero-main">
          <div class="tween">
            <h2 class="heading"><span class="big">낯</span>선 나<span>라</span>, <span class="big">낯</span>선 <span>청</span>춘</h2>
            <p class="sub-heading display-2">그리고 &#183;&#183;&#183; 한<span class="big">류</span><span>3.0</span></p>
          </div>
        </header>
      </div>
      <div class="intro-scroll">
        <span class="arrow"></span>
      </div>
    </div>
  </div>
</div>
<div id="hero-sub">
  <div class="wrapper">
      <div class="intro-text">
        <p class="tween">
          <span>낯선</span> 나라에서 <span>낯선</span> 청춘에게 <span>낯선</span> 제안을 했습니다.<br>
          그리고 <span>2년이 지났습니다.</span> 어떤 일이 벌어졌을까요?
        </p>
      </div>
      <h2 class="heading-2">KT&amp;G의&nbsp;<span class="blue">글</span><span class="green">로</span><span class="orange">벌</span>&nbsp;<span class="blue">사</span><span class="red">회</span><span class="orange">공</span><span class="green">헌</span>&nbsp;이야기
      </h2> 
  </div>
</div>
