<div id="info">
	<h2 class="heading-1"></h2>
	<div class="container-flex">
		<div class="col4">
			<div class="number"></div>
			<div class="text"></div>
		</div>
		<div class="col4">
			<div class="number"></div>
			<div class="text"></div>
		</div>
		<div class="col4">
			<div class="number"></div>
			<div class="text"></div>
		</div>
		<div class="col4">
			<div class="number"></div>
			<div class="text"></div>
		</div>		
	</div>
</div>