<div class="wrapper">
  <div class="heading-1">
    <span>아직은 낯선 나라</span><br> 
    인도네시아
  </div>
  <div class="container col2">
    <div class="col">
      <div id="video-intro" class="intro-video video-play" style="background:url('./img/video/intro.jpg">
        <a href="javascript:void(0)" class="play"></a>
        <video></video>
      </div>
    </div>
    <div class="col">
      <p class="text">
        인천공항에서 비행기로 7시간,<br> 
        ‘적도의 나라’ 인도네시아는 세계에서 가장 많은<br> 
        1만7000여개의 섬으로 이뤄져 있다. 인구가<br> 
        2억6000만 명에 이른다. 이 가운데 85% 이상이<br> 
        이슬람 신자로 세계 1위다.<br>
        그런가 하면 세계 최대의 불교 유적인 보로부두르<br>
        사원이 온전히 보존돼 있는 ‘공존의 나라’다.<br>
        인구의 3분의 2가 39세 이하인 ‘젊은 나라’이기도 하다.
      </p>
      <p class='text bold'>
        하지만 우리에게는 아직 낯선 땅이다. 
      </p>
    </div>
  </div> 
