<div id="dancer" class="interview section has-bg">
  <div class="wrapper">
    <div class="container col2 type-ltr">
      <div class="col">
        <div class="title">
          <span>스물한 살</span><br>
          학생<br>
          <span>열여덟 살</span><br>
          선생님
        </div>
        <div class="bg-people"></div>
      </div>
      <div class="col">
        <div id="video-dancer" class="interview-video video-play" style="background:url('./img/video/dancer.jpg">
          <a href="javascript:void(0)" class="play"></a>
          <video></video>
        </div>
        <div class="interview-desc">
          <p class="text">
            올해 21살인 무띠아라는 댄스 클래스에 등록했다.<br>
K팝 리듬에 맞춰 ‘칼군무’를 연습할 때가 가장 신난다. <br>
마지막 버스가 끊기는 밤 10시가 넘도록 연습을 한 적도 여러 번이다.<br>
그는 자신보다 나이가 어린 ‘선생님’ 나디아(18)와 함께 댄스 공연을 하는 게 꿈이다. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div> 
