<div id="barista" class="interview section has-bg">
  <div class="wrapper">
    <div class="container col2 type-rtl">
      <div class="col">
        <div id="video-barista" class="interview-video video-play" style="background:url('./img/video/barista.jpg">
          <a href="javascript:void(0)" class="play"></a>
          <video></video>
        </div>
        <div class="interview-desc">
          <p class="text">
            상상유니브 자카르타를 통해 아예 인생 항로를 바꾼 청춘도 있다. 프란스스커스(26)는 지금 상상유니브에서<br>
            근무하고 있다. 2015년 바리스타 과정을 마치면서 커피 전문가가 되겠다는 꿈을 싹틔웠고, 그의 열정을<br>
            높이 산 회사 측이 스태프로 발탁한 것이다.<br>
            프란스는 “상상유니브는 나의 인생이 긍정적으로 바뀌는 전환점이었다”고 말한다.<br> 
            <span class="bold">상상유니브 자카르타 사무국 운영을 맡고 있는 박세원씨는 “프란스는 보기 드문 성실파 청년이다.</span><br> 
            그의 꿈이 실현될 것이라고 믿는다”며 엄지손가락을 치켜세운다. 
          </p>
        </div>
      </div>
      <div class="col">
        <div class="heading-1">
          <span>시골 청년</span><br>
          <span>프란스의</span><br>
          인생 전환점
        </div>
        <div class="bg-people"></div>
      </div>
    </div>
  </div>
</div> 
