<div id="fighter" class="interview section has-bg">
  <div class="wrapper">
    <div class="container col2 type-ltr">
      <div class="col">
        <div class="heading-1">
          <span>수줍음 많던</span><br>
          <span>대학생 <i>NO</i>,</span><br>
          무에타이 청춘<br> 
          <i>YES!</i>
        </div>
        <div class="bg-people"></div>
      </div>
      <div class="col">
        <div id="video-fighter" class="interview-video video-play" style="background:url('./img/video/fighter.jpg">
          <a href="javascript:void(0)" class="play"></a>
          <video></video>
        </div>
        <div class="interview-desc">
          <p class="text">
            수도 자카르타는 꽉 막힌 차도 사이로 거친 소리를 내뿜고 달리는 ‘오토바이 부대’가 인상적인 도시다.<br> 
            대학생 구스티아니(25)는 매주 수요일 오후 이런 교통체증을 뚫고 1시간30분 넘게 걸려 자카르타 도심에<br>
            위치한 ‘상상유니브’를 찾는다. 태국 무술인 무에타이를 배우기 위해서다.<br>
            <span class="bold">이슬람 신자인 그는 히잡을 두르고 2시간씩 구슬땀을 쏟는다.</span><br>
            구스티는 “수줍고 소극적인 성격을 고쳐보려고 무에타이 수련을 시작했다.<br>
            이제 무에타이는 일상 속의 오아시스 같은 존재” 라며 환하게 웃는다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> 
