<div class="wrapper">
	<div class="container col2 type-more">
		<div class="col">
		    <div id="video-more" class="video-play" style="background:url('./img/video/more.jpg">
		      <a href="javascript:void(0)" class="play"></a>
		      <video></video>
		    </div>
		</div>
		<div class="col">
			<p class="text">
				자카르타에서 낯선 청춘에게 낯선 제안을 꺼낸 지 2년,<br>
				이들의 이야기는 이젠 상상이 아닙니다.<br> 
				이미 도전하고 탐색하며, 발산하고 있습니다.
			</p>
			<h2 class="heading-2">구스띠와 무띠아라, 프란스의 <span class="blue">상상 실현</span>을 응원합니다.</h2>
			<button class="btn btn-lg btn-aqua"><span class="bold">상상유니브 자카르타</span> 더 알아보기</button>
			<button class="btn btn-lg btn-blue"><span class="bold">상상마당</span> 더 알아보기</button>
		</div>
	</div>
</div>