<div id="more">
  <div class="section s-outro">
    <div class="footer lazyload" data-src="./img/outro/bg-outro.jpg"></div>
    <p class="lead">자카르타에서 낯선 청춘에게 낯선 제안을 꺼낸 지 2년,<br>이들의 이야기는 이젠 상상이 아닙니다.<br>이미 도전하고 탐색하며, 발산하고 있습니다.</p>
	<h2 class="heading-2">구스띠와 무띠아라, 프란스의 <span class="blue">상</span><span class="red">상</span> <span class="orange">실</span><span class="green">현</span>을 응원합니다.</h2>
    <a href="#" target="_blank" class="more"><span>더 알아보기</span></a>
  </div>
</div>