<div class="wrapper">
  <div class="container col2">
    <div class="col">
      <h2 class="heading-1">
        “상상에서 끝난다면<br>
        <span class="blue">상상마당이 아니다”</span> 
      </h2>
      <p class="lead">
        우세계씨는 이전에 다니던 직장을 그만두고 요즘 독립 출판가로 새로운 인생을 살고 있다. 
        상상마당에서 출판 전문가를 양성하는 ‘어바웃 북스’ 프로추어 과정을 수료한 게 계기가 됐다. 
        프로추어(proteur)는 전문가(professional)와 아마추어(amateur)의 경계에 있다는 뜻으로,  
        전문가 수준의 인재를 양성하는 교육 프로그램이다.  우씨는 『공포의 미하악』, 『일상의 살인』
         등을 펴내면서 기획부터 디자인까지 자신만의 세계를 구축했다는 평을 받고 있다. 
        그는 “상상에서만 끝난다면 상상마당이 아니다”고 말한다. 
      </p>
      <p class="lead">
        디자인 피규어 심화 과정을 마친 서현씨도 아트토이 작가로 활동 중이다. 
        서씨는 “상상 속 이야기를 아트토이로 만들고 싶었다”며 “피규어 수업을 통해 예전부터 
        꿈꿨던 것을 이룰 수 있어서 정말 기뻤다. 상상마당은 멋진 놀이터”라고 정의한다.
      </p>
      <p class="lead">
        여성 솔로 뮤지션인 사비나 앤 드론즈는 대중음악 창작 지원 프로그램인 ‘써라운드’에 선발돼 
        지난해 2집 앨범 제작을 지원받았다. 그는 “제작비뿐 아니라 춘천 상상마당 녹음실이 제공돼 
        오롯이 음악에만 집중할 수 있었다”고 말한다.
      </p>
      <p class="lead">
        천만 관객을 모은  ‘부산행’으로 유명한 영화감독 연상호, 록밴드 장기하와 얼굴들 등을 
        데뷔 초창기부터 지원한 곳이 KT&amp;G 상상마당이다.
      </p>
    </div>
    <div class="col">
      <div id="artist-1" class="lazyload" data-src="./img/sangsang-madang/artist-1.png"></div>
      <div id="artist-2" class="lazyload" data-src="./img/sangsang-madang/artist-2.png"></div>
    </div>
  </div>
</div>