{% set page = 'index' %}
{% extends '_layout.njk' %}

{% block content %}

<section class="ja_section_wrap" ja-section-title="Intro">{% include "_hero.njk" %}</section>
<section class="ja_section_wrap" ja-section-title="아직은 낯선 나라 인도네시아">{% include "_intro.njk" %}</section>
<!-- <section class="ja_section_wrap" ja-section-title="여대생 구스티아니">{% include "_interview1.njk" %}</section> -->
<!-- <section class="hash-section ja_section_wrap" ja-section-title="시각">{% include "_sense-vision.njk" %}</section>
<section id="smell" class="hash-section ja_section_wrap" ja-section-title="후각">{% include "_sense-smell.njk" %}</section>
<section id="taste" class="hash-section ja_section_wrap" ja-section-title="미각">{% include "_sense-taste.njk" %}</section>
<section id="touch" class="hash-section ja_section_wrap" ja-section-title="촉각">{% include "_sense-touch.njk" %}</section>
<section id="hearing" class="hash-section ja_section_wrap" ja-section-title="청각">{% include "_sense-hearing.njk" %}</section> -->
<section class="ja_section_wrap" ja-section-title="Outro">{% include "_more.njk" %}</section>

{% endblock %}
