{% extends '_layout.njk' %}

{% block content %}

<section id="hero" class="ja_section_wrap" ja-section-title="인트로">{% include "_hero.njk" %}</section>
<section id="intro" class="ja_section_wrap" ja-section-title="아직은 낯선 나라 인도네시아">{% include "_intro.njk" %}</section>
<section id="interview-fighter" class="ja_section_wrap" ja-section-title="수줍음 많던 여대생 NO, 이젠 무에타이 청춘 YES!">{% include "_interview-fighter.njk" %}</section>
<section id="localizing" class="ja_section_wrap" ja-section-title="&#34;한국 문화만을 고집하지 않았다&#34;사회공헌도 현지 맞춤형">{% include "_localizing.njk" %}</section>
<section id="interview-dancer" class="ja_section_wrap" ja-section-title="스물한 살 학생, 열여덟 살 선생님">{% include "_interview-dancer.njk" %}</section>
<section id="interview-baristar" class="ja_section_wrap" ja-section-title="시골 청년 프란스의 인생 전환점">{% include "_interview-baristar.njk" %}</section>
<section id="sangsang-univ" class="hash-section ja_section_wrap" ja-section-title="상상유니브 자카르타는">{% include "_sangsang-univ.njk" %}</section>
<section id="interview-professor" class="hash-section ja_section_wrap" ja-section-title="인터뷰-리마리소노와티 트리식티대 교수">{% include "_interview-professor.njk" %}</section>
<section id="curriculum" class="hash-section ja_section_wrap" ja-section-title="맞춤형 커리큘럼으로 상상에 날개를 달다">{% include "_curriculum.njk" %}</section> 
<section id="sangsang-madang" class="hash-section ja_section_wrap" ja-section-title="상상에서 끝난다면 상상마당이 아니다">{% include "_sangsang-madang.njk" %}</section>
<section id="info" class="hash-section ja_section_wrap" ja-section-title="숫자로 보는 상상마당">{% include "_info.njk" %}</section>
<section id="contribute-timeline" class="hash-section ja_section_wrap" ja-section-title="진화하는 사회공헌 &#34;후원자에서 기획가로&#34;">{% include "_contribute-timeline.njk" %}</section> 
<section id="contribute-destination" class="hash-section ja_section_wrap" ja-section-title="물고기가 마음껏 헤엄치는 환경 만드는 게 최종 목표">{% include "_contribute-destination.njk" %}</section> 
<section id="more" class="ja_section_wrap" ja-section-title="더 알아보기">{% include "_more.njk" %}</section>

{% endblock %}
