// 
// contribute-destination
//

#contribute-destination {
  @extend %flex-v-center;
  @extend %section-margin;
  @extend %has-bg;
  padding: rem(220px) 0;
  background: url('../img/contribute/bg-dest.jpg') no-repeat 50% 50%/cover;
  .wrapper {
  	width: rem(740px);
  	margin: 0 auto;
  	.heading-1 {
  		line-height: rem(60px);
  		padding: 0 0 rem(80px);
      div:nth-child(2) {
        padding-left: 50px;
      }
  	}
  	.text {
  		padding:0 0 rem(40px);
  	}
  }
}