//
// contribute timeline
//

#contribute-timeline {
  @extend %section-margin;
  background: $bg-gray;
  .heading-1 {
    line-height: rem(60px);
    padding: 0 0 rem(60px);
  }
  .type-line {
    .line-wrapper {
      b {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: #ccc;
      }
    }
    .card {
      background: #fff;
      position: relative;
      padding: rem(30px);
      margin: 0 0 rem(40px);
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
      }
      &:before {
        top: rem(38px);
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
      }
      &:after {
        top: 40px;
        width: rem(20px);
        height: rem(20px);
        border-radius: 100%;
        z-index:11;
      }
      .header {
        position: relative;
        padding: 0 0 rem(30px);
        .lazyload {
          position: absolute;
          top:0;left:0;
        }
      }
    }
    .odd {
      margin: rem(160px) 0 0;
      .card {
        &:before {
          left: 100%;
          border-left: rem(14px) solid #fff;
        }
        &:after {
          background-color: #1ab7ca;
          left: 100%;
          margin-left: rem(20px);
        }  
        &.t1953 {
          .header {
            height: rem(221px);
          }
          .lazyload {
            width: rem(166px);
            height: rem(221px);
            margin: 0 0 rem(30px);
          }
          .desc {
            padding-top: rem(160px);
            margin-left: rem(180px);
          }
          .text {
            padding: rem(30px) 0 0;
            border-top: 1px solid #efefef;
          }
        }   
        &.t2004 {
          .header {
            padding:0;
          }
          .lazyload {
            position: relative;
            width: rem(467px);
            height: rem(191px);
            margin-bottom: rem(30px);
          }
          .text {
             padding-top: rem(30px);
             border-top: 1px solid #efefef;
          }
        }
        &.t2013 {
          .lazyload {
            width: rem(470px);
            height: rem(240px);
          }
          .text {
            padding:0 0 rem(20px);
            &:nth-child(1) {
              padding-top: rem(30px);
            }
          }
        }  
      }
    }    
    .even {
      .card {
        &:before {
          right: 100%;
          border-right: rem(14px) solid #fff;
        }
        &:after {
          background-color: #3f8ee7;
          right: 100%;
          margin-right: rem(20px);
          }
        &.t1630 {
          .header {
            margin: 0 0 rem(30px);
            .lazyload {
              width: rem(222px);
              height: rem(251px);
            }
            .desc {
              margin-left: rem(240px);
              .quote {
                display:block;
                padding: rem(50px) 0 rem(30px);
              }
            }
          }
          .text {
            border-top: 1px solid #ccc;
            padding-top: rem(30px);
          }
        }
        &.t2007 {
          .lazyload {
            width: rem(470px);
            height: rem(240px);
            position: relative;
          }
          label { 
            width:100%;
            text-align: right;
            display:block;
          }
        }
        &.t2004-1 {
          .lazyload {
            width: rem(470px);
            height: rem(240px);
          }
          .text {
            padding:rem(30px) 0 rem(40px);
          }
        }
      }
    }
    .swiper-container {
      padding: 0 0 rem(30px);
      border-bottom: 1px solid #ccc;
      position:relative;
      .slider-label {
        position:absolute;
        bottom: rem(-25px);
        text-align: right;
        width:100%;
        color: $text-color-light;
        font-size: rem(16px);
      }
      .swiper-pagination {
        position: static;
        text-align: left;
      } 
    }  
  }
}
