// 
// sangsang-madang
//

#curriculum {
  @extend %flex-v-center;
  @extend %section-margin;
  @extend %has-bg;
  padding: rem(220px);
  background: url('../img/curriculum/bg-curriculum.jpg') no-repeat 50% 50%/cover;
   .heading-1 {
		padding: 0 0 rem(80px);
	}
  .inner {
	width: rem(780px);
	margin:0 auto;
	.text {
		text-align: left;
		padding-bottom: rem(30px);
	}
  }
}