// Fonts
//
//

@font-face {
    font-family: NotoSansKR;
    font-weight: 300;
    src: url('../font/NotoSansCJKkr-DemiLight.eot');
    src: url('../font/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
    url('../font/NotoSansCJKkr-DemiLight.woff') format('woff'),
    url('../font/NotoSansCJKkr-DemiLight.otf') format('truetype');
}

@font-face {
    font-family: NotoSansKR;
    font-weight: 400;
    src: url('../font/NotoSansCJKkr-Regular.eot');
    src: url('../font/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
    url('../font/NotoSansCJKkr-Regular.woff') format('woff'),
    url('../font/NotoSansCJKkr-Regular.otf') format('truetype');
}

@font-face {
    font-family: NotoSansKR;
    font-weight: 700;
    src: url('../font/NotoSansCJKkr-Black.eot');
    src: url('../font/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
    url('../font/NotoSansCJKkr-Black.woff') format('woff'),
    url('../font/NotoSansCJKkr-Black.otf') format('truetype');
}

