//
// Intro
//

#intro {
  @extend %flex-v-center;
  background:url('../img/intro/bg-intro.jpg') no-repeat 50% 50%/cover;
  .wrapper {
    padding: rem(185px) 0 rem(182px);
    position: relative;
    .col:nth-child(2) {
      height:100%;
      width:50%;
      background: rgba(0,0,0, 0.5);
    }
  }
}