//
// Localizing 
//

#localizing {
  padding:rem(150px) 0;
  .heading-1 {
    text-align: center;
    line-height: rem(60px);
  }
  #localizeSwiper {
    .type-localizing {
      padding: rem(60px) 0 0;
      .inner {
        padding: rem(60px) 0 0;
        p.text {
          margin: 0 0 rem(30px);
        }
      }
    }
    #localizing-nav {
      position:absolute;
      top: rem(180px);
      width: 100%;
      &:after {
        content:'';
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        background: #dfdfdf;
      }
      .swiper-button-next, .swiper-button-prev {
        border: 1px solid #dfdfdf;
        padding: rem(15px) rem(22px);
        margin: rem(-40px) 0 0;
        position: absolute;
        z-index: 11;
        background-color: #fff;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: none;
        opacity:0;
        visibility: hidden;
        &.enable {
          opacity:1;
          visibility: visible;
        }
      }
      .swiper-button-next {
        right: rem(50px);
      }
      .swiper-button-prev {
        left: rem(50px);
      }
      .local-button-next, .local-button-prev {
        width: rem(16px);
        height: rem(30px);
        display: block;
        top: 50%;
        left: 50%;
        margin: rem(-15px) 0 0 rem(-8px);
        position: absolute;
      }
      .local-button-next {
          background:url('../img/arrow-next.png') no-repeat 50% 50%/contain;
      }
      .local-button-prev {
          background:url('../img/arrow-prev.png') no-repeat 50% 50%/contain;
      }
    }
  }
}