//
// Localizing 
//

#localizing {
  padding:rem(150px) 0 0;
  .heading-1 {
    text-align: center;
    line-height: rem(60px);
  }
  #localizeSwiper {
    .type-localizing {
      padding: rem(120px) 0 0;
      p.text {
        margin: 0 0 rem(30px);
      }
    }
    #localizing-nav {
      position:absolute;
      top: rem(180px);
      width: 100%;
    }
  }
}