//
// Sangsang Madang
//
#sangsang-madang {
	@extend %full-screen;
	@extend %flex-v-center;
	padding-top: rem(110px);
	overflow:hidden;
	.col:nth-child(1) {
		position: relative;
		.heading-1 {
			text-align: left;
			line-height: rem(60px);
			margin-bottom: rem(90px);
			span {
				color: $blue;
			}
		}
		.bg-circle {
			  position: absolute;
			  background-color: #feeeda;
			  position: absolute;
			  width: rem(509px);
			  height: rem(254.5px);
			  border-bottom-left-radius: rem(509px);
			  border-bottom-right-radius: rem(509px);
		      display: inline-block; 
		      top: rem(-142px);
		      left: rem(-254.5px);
			  z-index: -1;
		}
		.text {
			padding: 0 0 rem(50px);
		}
	}
	#artist-1 {
	  margin: rem(70px) 0 rem(50px);
	  width: rem(418px);
	  height: rem(316px);
	}
	#artist-2 {
	  width: rem(428px);
	  height: rem(434px);
	}
}