// 
// Swiper-slide
//

.contribute {
  .swiper-pagination {
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        &-active {
        border-radius: 50%;
        background-color: rgb(245, 148, 30);
      }
    }
  }
}