// Typography
//
//


//
// Text hierarchy
//
html {
  @include responsive-font-size(); // enable for rem
}


//
// Body Text
//
body {
  background: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  -ms-text-size-adjust: 100%; // 방향 전화에 따른 폰트 사이즈 변경 방지
  -webkit-text-size-adjust: 100%;
}

.p-lead, .text {
  //margin-bottom: .4em;
  font-size: $font-size-lead;
  &.bold, .bold {
    font-weight:500;
  }
}
.p-small {
  font-size: $font-size-small;
}
.p-smaller {
  font-size: $font-size-smaller;
}


//
// Headings
//
.heading-0,
.sub-heading-0,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  color: $heading-text-color;
  letter-spacing: $heading-letter-spacing;
  text-align: center;
}

.heading-0 {
  font-size: $heading-0;
  @extend .paper;
}
.sub-heading-0 {
  @extend .paper;
  font-size: rem(50px); 
}
.heading-1 {
  font-size: $heading-1;
  @extend .paper;
}
.heading-2 {
  font-size: $heading-2;
}
.heading-3 {
  font-size: $heading-3;
}
.heading-4 {
  font-size: $heading-4;
}
.heading-5 {
  font-size: $heading-5;
}
.heading-6 {
  font-size: $heading-6;
}



//
// Quotes
//
blockquote {

}

//
// Inline elements
//
a {
  color: $link-color;
  text-decoration: none;
  @media (pointer: fine) {
    &:hover {
      color: $link-color-hover;
    }
  }
}

//
// Etc
//


.paper {
  font-family: $font-family-paper;
  font-weight: 400;
}
b, strong {
  font-weight: $font-weight-b;
}
.colored {
  color: $brand-primary;
}
%white-muted {
  opacity: .7;
}
.bold {
  font-weight:900;
}
.bold700 {
  font-weight:700;
}
