<div class="contribute-timeline">
	<div class="wrapper">
		<h2 class="heading-1">
			진화하는 사회공헌<br>
			“후원자에서 기획가로”
		</h2>  
		<div class="timeline">
			<div class="card t1883 odd">
			    <div class="descText">
					<p class="text">
						1883년 설립된 국영 연초 제작소인 ‘순화국(順和局)’은 KT&amp;G의 창립 기원이다. 130여 년 만에 세계 5위로 성장한 KT&amp;G는, 국민 기업으로서 회사의 성과를 사회에 환원한다는 의미에서 적극적으로 사회공헌 활동을 펼치고 있다. 2002년 민영화 이후엔 ‘함께하는 기업’을 경영이념 중 하나로 선포했다. 2003년 7월엔 KT&amp;G장학재단을, 2008년 6월엔 KT&amp;G복지재단을 잇달아 설립했다.
					</p> 
				</div>
			</div>
			<div class="card t2007 even">
				<div class="header">
					<div><img src="./img/contribute/t2007.jpg"></div>
					<label>홍대 상상마당</label>
				</div>
			    <div class="descText">
					<p class="text">
						KT&amp;G 사회공헌의 키워드는 ‘상상’이다. 서울 홍익대 앞에 ‘상상마당’(2007년)을 세워 젊은 문화예술인들을 적극 지원하면서 유명 해졌다. ‘더 좋은 내일을 응원합니다’라는 슬로건을 내걸고 대학생들의 ‘자기성장’을 지원하기 시작한 것도 이즈음이다. 꿈과 열정만 가져오면 이를 실현하는 지렛대가 되겠다는 게 기획 의도였다. 
					</p>
				</div>
			</div>

			<div class="card t2004 odd">
				<div class="header">
					<div class="bar-chart">
						<div class="unit">(단위:억원)</div>
					    <div class="x-axis"></div>
					    <div class="bar">
						    <div class="height-fix"><b></b></div>
						    <div class="chart-bar color-2004 label l2004" data-num="440"><b></b></div>
						    <div class="chart-bar color-2004" data-num="437"><b></b></div>
						    <div class="chart-bar color-2004" data-num="623"><b></b></div>
						    <div class="chart-bar color-2004 label l2007" data-num="507"><b></b></div>
						    <div class="chart-bar color-2008" data-num="530"><b></b></div>
						    <div class="chart-bar color-2008" data-num="626"><b></b></div>
						    <div class="chart-bar color-2008 label l2008" data-num="595"><b></b></div>
						    <div class="chart-bar color-2011" data-num="504"><b></b></div>
						    <div class="chart-bar color-2011" data-num="552"><b></b></div>
						    <div class="chart-bar color-2011 label l2011" data-num="527"><b></b></div>
						    <div class="chart-bar color-2014" data-num="584"><b></b></div>
						    <div class="chart-bar color-2014" data-num="808"><b></b></div>
						    <div class="chart-bar color-2014 label l2016" data-num="728"><b></b></div>
						</div>
	<!-- 					<div class="year-label">
							<div class="y2004">2004년</div>
							<div class="y2007">2007년</div>
							<div class="y2010">2010년</div>
							<div class="y2013">2013년</div>
							<div class="y2016">2016년</div>
						</div> -->
					</div>
				</div>
				<div class="descText">
					<p class="text">
						2004년 이후 지난해까지 KT&amp;G는 <span class="bold">매출의 2% 이상을 꾸준히 사회공헌 활동에 지원하고 있다. 이는 대기업 평균인 0.2%(전국경제인연합회집계)보다 10배가량 높은 비율이다.</span> 무대를 세계로 넓힌 것은 2014년, 자카르타에 상상유니브를 시범 개설한 것은 2015년이다. 이와 더불어 현지인을 적극 채용해 지역경제를 살리고, 문화예술을 지원하고 있다. 
					</p>
				</div>
			</div>

			<div class="card t2004-1 even">
		        <div id="t2004-1" class="swiper-container contribute">
		        	<div class="swiper-wrapper">
		        		<div class="swiper-slide"><img src="./img/contribute/t2004-1.jpg"><div class="slider-label">차량 전달식</div></div>
		        		<div class="swiper-slide"><img src="./img/contribute/t2004-2.jpg"><div class="slider-label">차량 전달식</div></div>
		        		<div class="swiper-slide"><img src="./img/contribute/t2004-3.jpg"><div class="slider-label">어르신 탁구대회</div></div>
		        		<div class="swiper-slide"><img src="./img/contribute/t2004-4.jpg"><div class="slider-label">어르신 탁구대회</div></div>
					</div>
					<div class="swiper-pagination"></div>
		        </div>
	            <div class="descText">
					<p class="text">
						KT&amp;G 사회공헌의 주요한 운영 철학은 세심함과 꾸준함이다. 디테일한 관찰과 분석을 통해 사업을 발굴하고 뚝심 있게 지원한다는 것이다. 
					</p>
					<p class="text">
						사회복지재단에 경승용차를 지원하는 사업이 대표적이다. 현장의 사회복지 프로그램이 ‘찾아가는 복지사업’으로 전환되고 있다는 점에 착안했다. KT&amp;G복지재단은 2004년부터 매년 100대씩, 지금까지 1400대의 경차를 전달했다. 
					</p>
					<p class="text">
						노인 복지와 건강 증진을 위해 기획한 ‘어르신 탁구대회’는 올해 14회째를 맞았다. 2016년 11월 서울 송파구 SK핸드볼경기장에서 열린 대회에는 전국 160개 노인복지시설 소속 60세 이상 노인 1280여 명이 참여했다. 응원단까지 합치면 3000명 가까이 모이는 대형 행사다. 
					</p>
				</div>
			</div>

			<div class="card t2013 odd">
		        <div id="t2013" class="swiper-container contribute">
		        	<div class="swiper-wrapper">
		        		<div class="swiper-slide"><img src="./img/contribute/t2013-1.jpg"><div class="slider-label">북한산 생태복원 프로젝트</div></div>
		        		<div class="swiper-slide"><img src="./img/contribute/t2013-2.jpg"><div class="slider-label">북한산 생태복원 프로젝트</div></div>
		        		<div class="swiper-slide"><img src="./img/contribute/t2013-3.jpg"><div class="slider-label">마을벽화 그리기</div></div>
		        		<div class="swiper-slide"><img src="./img/contribute/t2013-4.jpg"><div class="slider-label">마을벽화 그리기</div></div>
					</div>
					<div class="swiper-pagination"></div>
		        </div>
		        <div class="descText">
					<p class="text">
						KT&amp;G 사회공헌의 또 다른 키워드는 ‘청춘’ 이다. 미래 세대와 함께 나눔 활동을 실천해 더불어 가꾸는 사회를 만들겠다는 취지에서다. 
					</p>
					<p class="text">
						2013년부터 ‘도심 속 자연공원을 보존하다’는 캐치프레이즈를 내걸고 북한산 생태복원 프로젝트를 진행하고 있다. 매년 대학생 자원봉사자 100여 명이 참여한다. 
					</p>
					<p class="text">
						마을벽화 그리기는 지금까지 70여 회가 실시돼 8000명 넘게 참여한 인기 프로그램이다. 노후화된 옛도심에 벽화를 그리고 화단을 가꿔 생기 있는 도시로 탈바꿈시킨다는 프로젝트다. 올해는 부산·인천·대전·창원·전주 등에서 열렸다. 
					</p>
				</div>
			</div>
			<div class="col line-wrapper"> <b></b> </div>
		</div>
	</div>
</div>