<div class="wrapper">
  <h2 class="heading-1">
    한국에선 2007년부터<br> ‘상상 인재’ 키워
  </h2>
	<div class="inner">
	  <p class="text">
		인도네시아 사회공헌 프로그램을 기획하면서 KT&amp;G는 나름 기대감이 있었다. 국내에서 쌓아온 ‘내공’이 든든했기 때문이다. KT&amp;G는 2007년부터 국내에서 ‘상상마당’을 운영하고 있다. 일반인에겐 ‘문화허브’로 유명하지만 상상마당은, ‘인재 육성 프로젝트’로도 눈길을 끈다. 그림책 워크숍, 피규어 디자인, 문화예술 비평 분야 등에서 5~7개월간 집중 교육을 한다. 수강생들은 수료에 즈음해 작품전·전시회 등을 열고, 이를 바탕으로 창업을 준비하기도 한다. 자카르타의 프란스가 바리스타 클래스를 마치고 ‘인도네시아의 커피왕’을 꿈꾸는 것과 비슷하다. 
	  </p>
	</div>
</div>