<div class="hero">
  <div id="bg-img"></div>
  <div id="bg-hero" class="section">
    <div class="wrapper">
      <div class="inner">
        <header class="hero-main">
          <div class="tween">
            <h2 class="heading-0">
              <span class="big">눈</span>&nbsp;<span class="color-1">맞</span><span class="color-1 up">추</span><span class="color-1">고,</span><br><span class="big">귀</span>&nbsp;<span class="color-2"><span class="down color-2">기</span>울<span class="up color-2">이</span>다</span></h2>
            <p class="sub-heading-0"><span class="color-1">한</span><span class="big2 up">류</span>&nbsp;<span class="num">3.0</span><br><span class="big down">꽃</span>&nbsp;<span class="color-2">피<span class="up color-2">우</span><span class="color-2">다</span></p>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="intro-scroll">
     <svg 
xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink"
width="32px" height="26px">
<path opacity="0.5" fill="rgb(255, 255, 255)"
d="M16.000,17.313 L0.444,1.757 L1.858,0.342 L16.000,14.484 L30.142,0.342 L31.556,1.757 L16.000,17.313 ZM16.000,22.970 L25.899,13.071 L27.314,14.484 L16.000,25.798 L4.686,14.484 L6.100,13.071 L16.000,22.970 Z"/>
</svg>
  </div>
</div>
<div id="hero-sub">
  <div class="wrapper">
      <div class="intro-text">
        <p class="tween">
          <span class="bold">낯선</span> 나라에서 <span class="bold">낯선</span> 청춘에게<br><span class="bold">낯선</span> 제안을 했습니다.<br>
          그리고 <span class="bold">2년이 지났습니다.</span>
        </p>
      </div>
      <h2 class="heading-3"><span class="bold blue">어떤 일이 벌어졌을까요?</span></h2> 
  </div>
</div>
