	<h2 class="heading-1">숫자로 보는 상상마당</h2>
	<div id="infoSwiper" class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide cover">
				<div class="layer">
					<div class="number"><span class="info-num" data-count="1">0</span>위</div>
					<div class="number"><span class="info-num" data-count="939">0</span>명</div>
					<div class="number"><span class="info-num" data-count="3000">0</span>건</div>
					<div class="number"><span class="info-num" data-count="9077639">0</span>명</div>
				</div>
				<div class="swiper-more"><p>밀어서 더보기<span class="arrow"></span></p></div>
			</div>
			<div class="swiper-slide">
				<div class="icon icon-1 lazyload" data-src="./img/info/info-1.png"></div>
				<div class="number"><span class="info-num" data-count="1">0</span>위</div>
				<div class="descText">
					<p class="text">
					포털 사이트 문화예술분야 검색<br> 
					순위(20~30대 대상). 온라인<br>
					노출은 연 3000만 건이 넘는다.
					</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="icon icon-2 lazyload" data-src="./img/info/info-2.png"></div>
				<div class="number"><span class="info-num" data-count="939">0</span>명</div>
				<div class="descText">
					<p class="text">
						2016년 상상마당 무대에 오른 뮤지션<br>
						숫자. 지금까지 함께 한 아티스트는<br> 
						2만4000여 명이다. 
					</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="icon icon-3 lazyload" data-src="./img/info/info-3.png"></div>
				<div class="number"><span class="info-num" data-count="3000">0</span>건</div>
				<div class="descText">
					<p class="text">
						인재 육성 아카데미부터 영화·공연<br>
						·전시 등 2016년 운영된 프로그램.<br> 
						누적 3만여 건에 이른다.
					</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="icon icon-4 lazyload" data-src="./img/info/info-4.png"></div>
				<div class="number"><span class="info-num" data-count="9077639">0</span>명</div>
				<div class="descText">
					<p class="text">
						2011~16년 상상마당 홍대·춘천<br>
						·논산을 다녀간 방문객 수. 최근엔<br>
						한해 180만여 명이 찾는다.
					</p>
				</div>
			</div>	
		</div>
		<div class="swiper-pagination"></div>
	</div>
