  <div class="title">
    <h2 class="heading-1">아직은 낯선 나라</h2> 
    <h2 class="heading-0">인도네시아</h2>
  </div>
  <div id="video-intro" class="intro-video video-play" style="background:url('./img/video/intro.jpg">
    <a href="javascript:void(0)" class="play"></a>
    <video></video>
  </div>
<div class="wrapper">
  <p class="text">
    ‘적도의 나라’ 인도네시아는 세계에서 가장 많은 1만7000여 개의 섬으로 이뤄져 있다. 인구가 2억 6000만 명에 이른다. 이 가운데 85% 이상이 이슬 람 신자로 세계 1위다. 그런가 하면 세계 최대의 불 교 유적인 보로부두르사원이 온전히 보존돼 있는 ‘공존의 나라’다. 인구의 3분의 2가 39세 이하인 ‘젊은 나라’이기도 하다. <br>
    하지만 우리에게는 아직 낯선 땅이다. 
  </p>
</div>