<div id="intro-tips" class="section s-intro-tips">
  <div class="wrapper">
    <div class="inner">
      <div class="intro-tips-text">
        <p class="tween"><img src="./img/senses/tips-text@2x.png" height="44" alt="올 가을 내 피부 어쩌지? 향수는 어떻게 고를까?"></p>
      </div>
      <header class="intro-tips-header">
        <div class="tween">
          <p class="sub-heading">Asian Beauty Creator가 제안하는</p>
          <h2 class="heading heading-2"><span class="cn">五感</span> 오감 만족 <br>꿀팁 총정리</h2>
        </div>
      </header>
    </div>
    <div class="intro-scroll">Scroll down</div>
  </div>
</div>