<div id="professor" class="interview">
  <div class="wrapper">
    <div class="sub-heading-2">INTERVIEW</div>
    <div class="heading-3">
       “기대 이상의 호응에 깜짝 놀라<br>
       ‘한류 3.0’ 만드는 자양분 될 것”
    </div>  
    <div class="bg-people lazyload" data-src='./img/interview/bg-people-professor.png'></div>
    <div class="interview-desc"> 
      <p class="text">
        인도네시아 최대 규모의 사립대학인 트리삭티대의 리마 리소노와티(45·미디어학부) 부총장은 2015년부터 ‘상상유니브 자카르타’를 가까이에서 지켜봐왔다. 대학 캠퍼스 안에 전용 공간을 제공한 ‘든든한 후견인’이기도 하다. 그는 <span class="bold">“이런 소프트웨어적인 사회공헌이 한국 기업과 국가 이미지에 대한 호감도를 높이고, 나아가서는 ‘한류 3.0’의 토대가 될 수 있다”</span>고 진단한다. 
      </p>
    </div>
  </div>
  <div id="fixedqna" class="active">
    <div class="qna">
      <div class="question"><p class="bold">Q. 인도네시아 대학에서 상상유니브를 개설한 게 어떤 의미인가.</p></div>
      <div class="answer">
       “학생들은 더 현대화된 교육에 대한 갈증이 많았다. 안타깝게도 인도네시아에는 이들의 교양 활동을 지원하는 프로그램이 없었다. 사실 딱히 여가활동이라는 게 존재하지 않았다. 마침 한국의 KT&amp;G로부터 흥미로운 제안이 왔고, 우리에게 도움이 될 것 같아 받아들였다.” </div>
    </div>
    <div class="qna fixed">
      <div class="question bold"><p class="bold">Q. 수업을 듣는 학생들의 반응은.</p></div>  
      <div class="answer">
        <span class="bold">“기대 이상의 호응이었다. 트리삭티대 재학생뿐만 아니라 다른 대학 학생까지 참여했다. 소셜네트워크서비스(SNS)를 통해 빠르게 전파되면서 예상보다 이른 시간에 자리를 잡은 듯하다.”</span>
      </div>
    </div>
  </div>
  <div id="qna">
    <div class="qna">
      <div class="question bold"><p class="bold">Q. 인도네시아 대학생들의 가장 큰 고민은.</p></div>  
      <div class="answer">
        “새로운 일을 시도하고 도전하는 것이다. 세상은 빠르게 변하는데 우리 학생들은 새로운 경험을 쌓을 기회가 부족하다는 게 큰 문제였다. 상상유니브가 지난 5월 500여 명의 대학생이 참여하는 토크콘서트를 열었는데, 이런 행사를 계기로 학생들의 세계관이 크게 성장한다고 생각한다.” 
      </div>
    </div>
    <div class="qna">
      <div class="question bold"><p class="bold">Q. KT&amp;G를 비롯한 한국 기업에 대한 인식 변화가 생겼나.</p></div>
      <div class="answer">
        “(웃으면서) 사실 KT&amp;G보다는 상상유니브라는 이름이 여기선 더 유명하다. 자연스럽게 KT&amp;G나 한국에 대한 이미지도 긍정적으로 인식되고 있다.” 
      </div>
    </div>      
    <div class="qna">
      <div class="question bold"><p class="bold">Q. 두 나라의 관계 발전에도 도움이 될까.</p></div>
      <div class="answer">
         “물론이다. 두 나라가 서로의 문화를 이해하고 교류하는데 탄탄한 가교 역할을 할 것이다. 인도네시아에서도 ‘한류’ 바람이 거세다. 2000년대 초반 ‘겨울연가’ ‘대장금’ 같은 드라마가 인기를 끌면서 한류 열풍이 시작됐다. 최근엔 K팝 스타가 주축이 된 ‘한류 2.0’이 대세다. <span class="bold">드라마와 K팝 ·영화·게임 등 다양한 문화 콘텐트가 어우러져 시너지가 발현되는 것을 ‘한류 3.0’이라고 한다면, 현지에서 한국에 대한 긍정적인 이미지를 확대 재생산하는 게 무엇보다 중요하다.</span> 상상유니브 같은 소프트웨어가 한국 브랜드를 살찌우는 자양분 역할을 할 것이다.” 
      </div>
    </div>
    <div class="qna hanryu han-1">
      <div class="title">한류 <span class="num">1.0</span></div>
      <div class="descText">
        <p class="text">
          드라마 ‘겨울연가’ ‘대장금’ 등이 인기 끌면서<br> 
          현지에서 자생적으로 한국 문화에 호감 
        </p>
      </div>
    </div>    
    <div class="qna hanryu han-2">
       <div class="title">한류 <span class="num">2.0</span></div>
       <div class="descText">
         <p class="text">
          2002년 월드컵 이후 체계적인 스타 육성과<br>
          기획·마케팅으로 수출 상품화 성공 
         </p>
       </div>
    </div>    
    <div class="qna hanryu han-3">
       <div class="title">한류 <span class="num">3.0</span></div>
       <div class="descText">
         <p class="text">
          현지의 문화 소비층과 직접 소통을 통해<br>
          ‘맞춤형 한류’로 업그레이드
         </p>
       </div>
    </div>  
  </div>
  <div class="btn btn-circle"></div>
</div>



 


