<div id="intro" class="section s-intro">
  <div class="wrapper">
    <div class="inner">
      <header class="intro-header">
        <div class="tween">
          <p class="sub-heading buri">A More Beautiful World<br>Asian Beauty Creator</p>
          <h2 class="heading heading-2">더 아름다운 세상을<br>만드는 사람들</h2>
        </div>
      </header>
      <div class="intro-text">
        <p class="tween">
          아름다움은 사람들에게 행복감을 준다.<br>
          행복은 세상을 변화시키는 힘이다.<br>
          여기 아름다움으로 세상의 변화를<br>
          꿈꾸는 사람들이 있다.
        </p>
      </div>
    </div>

    <div class="intro-scroll">Scroll down</div>
  </div>
</div>

<div id="intro-bg" class="section s-intro-bg">
  <div class="bg-intro" style="background-image:url('./img/intro/bg-intro.jpg');"></div>
  <div class="bg-sales lazyload" data-src="./img/sales/bg-door2door.jpg"></div>
</div>