	<div class="content" id="content-1">
		<div class="wrapper">
			<h2 class="heading-2"><span>“한국 문화만을 고집하지 않았다”</span><br>사회공헌도 현지 소통형</h2>
			<div class="hide-content">
				<div class="lazyload" data-src="./img/localizing/slide-1.png"></div>
				<div class="inner">
					<p class="text">
						구스티에게 무에타이를 가르치는 강사는 에기 로트젠이다. 경력 7년, 43승 11패의 기록을 가진 현역 프로 선수다. 대학생의 자기계발을 지원하기 위해 일류 강사를 섭외했다. 이 강좌는 한국 기업인 KT&amp;G가 운영한다.  
					</p>  
					<p class="text">
						국내 기업들은 중국·동남아·아프리카 등에서 다양한 사회공헌 프로젝트를 전개하고 있다. 대부분은 집짓기, 우물파기 같은 인프라 개선 활동이다. <span class="bold">그런데 KT&amp;G는 왜 자카르타 한복판에서 태국 전통의 격투기 클래스를 열었을까.</span> 이 회사는 2014년부터 글로벌 사회공헌에 본격 나섰다. 전체 판매량의 50% 이상을 해외에서 올리는 만큼 현지에서 사회적 책임을 다하자는 뜻에서다. 내부 논의를 통해 
						<span class="bold">현지인의 ‘생활 속으로’ 스며드는 프로그램을 만든다, 청춘의 고민을 공유한다는 데 초점을 맞췄다.</span> 굳이 한국 문화와 접목을 고집하지 않았다. 
					</p> 
				</div>
			</div>
			<div class="btn btn-circle"></div>
		</div>
	</div>
	<div class="content" id="content-2">
		<div class="wrapper">
			<h2 class="heading-2">인도네시아 최초의<br><span>대학생  맞춤형 강좌를 열다</span></h2>
			<div class="hide-content">
				<div class="lazyload" data-src="./img/localizing/slide-2.png"></div>
		  	<div class="inner">
					<p class="text">
						2015년 여름 KT&amp;G는 자카르타 도심에 있는 대형 홀을 임대해 ‘상상유니브’를 오픈했다. 한편으론 수십 명의 대학생을 인터뷰해 ‘지금 당장 배우고 싶은 게 무엇인지’ 물었다. <span class="bold">그리고 이들의 목소리를 반영하는 소통형·맞춤형 커리큘럼을 만들었다. 인도네시아에서 대학생 대상으로 개설한 최초의 교양·역량 개발 프로그램이다.</span> 인도네시아는 연 5~6%씩 성장하면서 동남아의 경제 대국으로 떠올랐지만 대학생들의 교외 활동을 지원하는 시스템은 턱없이 부족하다. KT&amp;G의 상상유니브는 이런 현실에서 시작한 것이다. 
					</p>
				</div>
			</div>
			<div class="btn btn-circle"></div>
		</div>
	</div>
	<div class="content" id="content-3">
		<div class="wrapper">
			<h2 class="heading-2">불과 2년 만에<br>수강생 2000명으로 </h2>
			<div class="hide-content">
				<div class="lazyload" data-src="./img/localizing/slide-3.png"></div>
				<div class="inner">
					<p class="text">
						2015년 9월 136명의 학생들이 호기심 반, 기대 반으로 상상유니브의 문을 두드렸다. 지난해엔 402명으로 늘었다. 올해는 여기서 한 걸음 더 들어갔다.
					</p>
					<p class="quote bold">“더욱 다양한 커리큘럼을 직접 제안해 달라. 그리고 마음껏 배워라.”</p>
					<p class="text">
						클래스는 댄스·보컬·무에타이·메이크업·캘리그라피·사진·요리 등 12개로 늘어났다. 트리삭티대·나시오날대 등에도 강의실이 생겼다. 상상유니브의 운영 취지에 공감한 대학들이 전용 공간을 제공한 것이다. 상상유니브 수강생은 올해 2000명을 넘을 것으로 예상된다.
					</p> 
				</div>
			</div>
			<div class="btn btn-circle"></div>
		</div>
	</div>	


