<nav id="nav" class="nav">
  <a href="#nav" class="nav-menu" aria-label="메뉴 보기">
    <span class="icon-menu"></span>
    <span class="icon-close"></span>
  </a>
  <div class="inner">
    {% if page != "tips" %}
    <a href="#sales">
      <span class="normal num">1</span>
      <span class="sub"><span class="cn">訪販</span> 방문판매</span>
    </a>
    <a href="#vision">
      <span class="normal num">2</span>
      <span class="sub"><span class="cn">視</span> 색을 만나다</span>
    </a>
    <a href="#smell">
      <span class="normal num">3</span>
      <span class="sub"><span class="cn">嗅</span> 향기를 좇다</span>
    </a>
    <a href="#taste">
      <span class="normal num">4</span>
      <span class="sub"><span class="cn">味</span> 감성을 마시다</span>
    </a>
    <a href="#touch">
      <span class="normal num">5</span>
      <span class="sub"><span class="cn">觸</span> 지친 하루를 만지다</span>
    </a>
    <a href="#hearing">
      <span class="normal num">6</span>
      <span class="sub"><span class="cn">聽</span> 마음을 듣는다</span>
    </a>
    {% else %}
    <a href="#vision">
      <span class="normal num">1</span>
      <span class="sub"><span class="cn">視</span> 색을 만나다</span>
    </a>
    <a href="#smell">
      <span class="normal num">2</span>
      <span class="sub"><span class="cn">嗅</span> 향기를 좇다</span>
    </a>
    <a href="#taste">
      <span class="normal num">3</span>
      <span class="sub"><span class="cn">味</span> 감성을 마시다</span>
    </a>
    <a href="#touch">
      <span class="normal num">4</span>
      <span class="sub"><span class="cn">觸</span> 지친 하루를 만지다</span>
    </a>
    <a href="#hearing">
      <span class="normal num">5</span>
      <span class="sub"><span class="cn">聽</span> 마음을 듣는다</span>
    </a>
    {% endif %}
  </div>
</nav>