<div id="sales" class="section s-door2door">
  <header class="door-header">
    <h2 class="heading"><span class="cn">訪<br>販</span> <span class="ko">방<br>문<br>판<br>매</span></h2>
  </header>

  <div class="door-content">
    <div class="wrapper">
      <h3 class="heading heading-4">방판 “아모레퍼시픽의 초심”</h3>
      <p class="text">
        방문판매(이하 방판)의 시작은 1964년 태평양(태평양에서 2006년 현재 사명으로 변경)의 방판 브랜드 ‘아모레’다.
        자신을 가꾸는데 익숙하지 않았던 시절, 각종 샘플과 함께 마사지 서비스로 여심을 파고 든 방판 사원은 아모레 아줌마로 불렸다.
        아모레퍼시픽 창업자 서성환 선대회장은 1995년 창립 50주년 기념 언론인터뷰에서 “아모레퍼시픽 카운셀러가 태평양 발전의 밑거름이 됐다”고 했다.
        지금도 3만 4000명의 카운셀러(96년 변경된 방판사원 명칭)가 전국을 누빈다.
        지난 4월 서경배 아모레퍼시픽 회장은 “고객 한 사람 한 사람을 대함에 성심성의를 다하는 ‘진심’은 아모레퍼시픽과
        아모레퍼시픽 카운셀러가 견지해 온 최고의 가치”라고 했다.
        <br>
        <br>
        <strong class="strong colored">방판은 아름다움과 건강함으로 세상을 변화시킨다는 꿈을 가진 아모레퍼시픽의 초심이기도 하다.</strong>
      </p>
    </div>
  </div>
</div>

<div id="interview" class="section s-interview lazyload" data-src="./img/sales/bg-interview.gif">
  <div class="inner">
    <header class="interview-header">
      <p class="sub-heading"><span>interview</span></p>
      <h2 class="heading heading-4"><span class="buri">“</span>내 가방은 매직박스<span class="buri">”</span></h2>
    </header>
    <div class="interview-body">
      <p class="who">이정숙 카운셀러</p>
      <button id="popup-open" class="btn btn-lg btn-white">Play Movie</button>
    </div>
  </div>
</div>

<div id="interview-popup" class="section s-interview-popup">
  <div class="outer">
    <div class="inner">
      <video id="video-interview"></video>
      <a href="javascript:void(0)" id="popup-close" class="popup-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 30 30">
          <path fill="#FFF" fill-rule="evenodd" d="M29.405 1.492l-.896-.898L15 14.102 1.492.594l-.897.898L14.102 15 .595 28.508l.897.898L15 15.896l13.509 13.51.896-.898L15.898 15 29.405 1.492z"/>
        </svg>
      </a>
    </div>
  </div>
</div>

<div id="channels" class="section s-channels">
  <div class="inner">
    <header class="channels-header">
      <h2 class="heading heading-4">화장품 판매 채널<br>어떻게 변했나?</h2>
    </header>
    <div class="channels-body">
      <ol id="channels-history-active" class="channels-history-active">
        <li>
          <div class="years"><span class="num">1930~60</span>년대</div>
          <div class="text">보따리, 도매상, 소매상 유통,<br>지정판매소 등</div>
        </li>
        <li>
          <div class="years"><span class="num">1964</span>년</div>
          <div class="text"><br class="br">방문판매제도 등장</div>
        </li>
        <li>
          <div class="years"><span class="num">1980~90</span>년대</div>
          <div class="text">전문점 판매/백화점 및<br>면세점 입점</div>
        </li>
        <li>
          <div class="years"><span class="num">2000</span>년대</div>
          <div class="text"><br class="br">브랜드숍 전성시대</div>
        </li>
        <li>
          <div class="years"><span class="num">2010</span>년대</div>
          <div class="text">드럭스토어 및<br>플래그십스토어</div>
        </li>
      </ol>
      <div class="channels-nav"></div>
      <ol id="channels-history" class="channels-history">
        <li>방문판매제도 등장</li>
        <li>전문점 판매/백화점 및 면세점 입점</li>
        <li>브랜드숍 전성시대</li>
        <li>드럭스토어 및 플래그십스토어</li>
      </ol>
    </div>
  </div>
</div>

<div class="section s-counselor lazyload" data-src="./img/sales/bg-counselor.jpg">
  <header class="counselor-header">
    <p class="sub-heading">아모레퍼시픽 키운</p>
    <h2 class="heading heading-4">카운셀러의 힘</h2>
  </header>
  <div class="counselor-body">
    <p class="date">(2017년 6월 기준)</p>
    <ul class="counselor-stats">
      <li class="item">
        <div class="number"><span class="num">3</span>만 <span class="num">4710</span>명</div>
        <div class="name">전국 카운셀러 수</div>
      </li>
      <li class="item">
        <div class="number">약 <span class="num">1</span>조 <span class="num">6000</span>억원</div>
        <div class="name">카운셀러 매출(2016년)</div>
      </li>
      <li class="item">
        <div class="number">약 <span class="num">250</span>만명</div>
        <div class="name">고객 수</div>
      </li>
    </ul>
  </div>
</div>

<div id="history" class="section s-history">
  <div id="history-slider" class="history-slider owl-carousel">
    <div class="item">
      <div class="year num">1964</div>
      <div class="sales"><span class="num">2</span>억 <span class="num">8,800</span>만원</div>
      <div class="text">방판 도입 첫 해</div>
    </div>
    <div class="item">
      <div class="year num">1968</div>
      <div class="sales"><span class="num">14</span>억 <span class="num">2,800</span>만원</div>
      <div class="text">출범 <span class="num">5</span>년 만에 매출 <span class="num">10</span>억 원 돌파</div>
    </div>
    <div class="item">
      <div class="year num">1996</div>
      <div class="sales"><span class="num">1,332</span>억원</div>
      <div class="text">‘카운셀러’ 명칭 도입</div>
    </div>
    <div class="item">
      <div class="year num">2002</div>
      <div class="sales">그룹 매출 <span class="num">1</span>조원 돌파</div>
    </div>
    <div class="item">
      <div class="year num">2015</div>
      <div class="sales">뷰티Q 론칭</div>
      <div class="text">모바일 뷰티앱으로 <br>세일즈 역량 및 전문성 강화</div>
    </div>
    <div class="item">
      <div class="year num">2016</div>
      <div class="sales"><span class="small">카운셀러 매출</span> 약 <span class="num">1</span>조 <span class="num">6</span>천억원</div>
      <div class="text">아모레퍼시픽 국내 화장품 <br>전경로에서 방판 매출비중은 <span class="num">17.6%</span></div>
    </div>
  </div>
</div>

<div class="section s-articles" style="background-image: url('./img/sales/bg-articles.jpg');">
  <div class="article">
    <p class="heading">고객과 소통 위한 모바일 앱 '뷰티Q'</p>
    <a href="http://news.joins.com/article/21609406" target="_blank" class="link"><span>기사 더보기</span></a>
  </div>
</div>