<div class="wrapper">
  <div class="heading-1">상상유니브 자카르타는</div>
  <div class="sub-title">SangSangUniv. Jakarta</div>
    <div class="iconbox">
      <div class="icon">
        <div class="icon-1">{% include 'icon-1.svg' %}</div>
     </div>
      <div class="descText">
        <p class="text">
          인도네시아 대학생의자기계발 활동 지원<br>
          현지 조사 통해 수요 맞춘 커리큘럼 개발 
        </p> 
      </div>
    </div>    
    <div class="iconbox">
      <div class="icon">
        <div class="icon-2">{% include 'icon-2.svg' %}</div>
      </div>
      <div class="descText">
        <p class="text">
          바리스타, 요리, 댄스, 메이크업, 사진,<br>
          캘리그라피, 무에타이, 피규어 등 12개
        </p>
      </div>
    </div>    
    <div class="iconbox">
      <div class="icon">
        <div class="icon-3">{% include 'icon-3.svg' %}</div>
      </div>
      <div class="descText">
        <p class="text">
          인도네시아 대학생<br>
          자카르타 트리삭티대학 등 3곳
        </p>
      </div>
    </div>    
    <div class="iconbox">
      <div class="icon">
        <div class="icon-4">{% include 'icon-4.svg' %}</div>
     </div>
      <div class="descText">
        <div class="lazyload chart" data-src="./img/sangsang-univ/chart.png">{% include 'univ-chart.svg' %}</div> 
      </div>
    </div>   
</div>