<div class="wrapper">
  <h2 class="heading-1">
    “상상에서 끝난다면<br>
    <span>상상마당이 아니다”</span> 
  </h2>
  <div id="artist-1" class="lazyload" data-src="./img/sangsang-madang/artist-1.png"></div>
  <p class="text">
    우세계씨는 이전에 다니던 직장을 그만두고 독 립 출판가로 새로운 인생을 살고 있다. 상상마당 에서 출판 전문가를 양성하는 ‘어바웃 북스’ 프로 추어 과정을 수료한 게 계기가 됐다. 프로추어 (proteur)는 전문가(professional)와 아마추어 (amateur)의 경계에 있다는 뜻으로, 전문가 수 준의 인재를 양성하는 커리큘럼을 가리킨다. 우씨는 『공포의 미하악』, 『일상의 살인』 등을 펴 내면서 기획·디자인 전문가로 인정받고 있다. 그는 “상상에서만 끝난다면 상상마당이 아니다” 고 말한다. 
  </p>
  <div id="artist-2" class="lazyload" data-src="./img/sangsang-madang/artist-2.png"></div>
  <p class="text">
    여성 뮤지션인 사비나 앤 드론즈는 대중음악 창 작 지원 프로그램인 ‘써라운드’에 선발돼 2016 년 2집 앨범 제작을 지원받았다. 그는 “녹음실까 지 제공돼 오롯이 음악에만 집중할 수 있었다”고 말한다. 
  </p>
  <p class="text bold">
   ‘부산행’으로 유명한 영화감독 연상호, 록밴드 장기하와 얼굴들 등을 데뷔 초창기부터 지원한 곳이 KT&amp;G 상상마당이다. 
  </p>
</div>
