{# 각 감각은 .s-sense-top .s-sense-body .s-sense-more 의 세 섹션으로 나뉜다. #}
<div class="section s-sense-top">
  <header class="sense-top-header animation-init">
    <h2 class="heading"><span class="cn">觸</span> <span class="ko">닿을 촉</span></h2>
    <p class="sub-heading"><span>지<br>친</span> <span>하<br>루<br>를<br></span> <span>만<br>지<br>다</span></p>
  </header>
  {% if page != "tips" %}
  <div class="sense-top-video animation-init">{# 레이아웃은 left, right 두 가지가 있음. #}
    <div class="video-play">
      <video id="video-touch"></video>
      <a href="javascript:void(0)" class="play" aria-label="play movie">
        <div class="poster lazyload" data-src="../img/senses/poster-touch.jpg"></div>
      </a>
    </div>
  </div>

  <div class="sense-top-footer animation-init layout-right">
    <div class="sense-top-summary">
      <p class="num">04</p>
      <p class="text animation-init">
        “고객 피부 개선되고<br>
        아름다워지는 모습에<br>
        나도 힐링”
      </p>
    </div>
    <div class="sense-top-quote-wrapper">
      <blockquote class="sense-top-quote animation-init">
        <div class="inner">
          <p class="text">
            흐트러진<br>
            몸의 균형을<br>
            찾아주는<br>
            <strong class="colored">시간을</strong><br>
            <strong class="colored">가지세요</strong>
          </p>
          <p class="from"><b class="name">권정현</b> 설화수 스파 에스테티션</p>
        </div>
      </blockquote>
      {% include "_sense-share.njk" %}
    </div>
  </div>
  {% else %}
  <div class="sense-top-footer animation-init">
    {% include "_sense-share.njk" %}
  </div>
  {% endif %}
</div>

<div class="section s-sense-body touch lazyload" data-src="./img/senses/bg-touch.jpg">
  <div class="inner">
    <div class="sense-slider-header">
      <h3 class="heading"><span class="num"></span> 꿀팁! 가을∙겨울 건조한 피부 관리법</h3>
      <h3 class="heading"><span class="num"></span> 꿀팁! 집에서 할 수 있는 눈, 발 피로 풀기</h3>
    </div>
    <div class="sense-slider">
      <div class="box padding">
        <h4 class="box-heading">레이어링(LAYERING) 보습 케어</h4>
        <div class="tab layering-tab">
          <div class="tab-nav">
            <a class="active" href="javascript:void(0)" data-name="1"><span class="icon">{% include "icon-layering1.svg" %}</span></a>
            <a href="javascript:void(0)" data-name="2"><span class="icon">{% include "icon-layering2.svg" %}</span></a>
            <a href="javascript:void(0)" data-name="3"><span class="icon">{% include "icon-layering3.svg" %}</span></a>
          </div>
          <div class="tab-content">
            <div class="item active">에센스를 손바닥에 덜고 향을 흡인해 마음을 안정 시킨 후 손바닥을 이용해 피부에 지긋이 여러 번 눌러 흡수 시킨다.</div>
            <div class="item">이후 스킨, 로션, 에센스, 아이크림, 영양크림을 순차적으로 사용하며 흡수가 잘 될 수 있도록 가볍게 두드려 마무리한다.</div>
            <div class="item">일주일에 1~2번 각질 관리와 3번 이상은 수면 마스크나 시트 마스크를 이용해 피부 건조함을 예방한다.</div>
          </div>
        </div>
      </div>
      <div class="box padding">
        <div class="tab massage-tab">
          <div class="tab-nav">
            <a class="active" href="javascript:void(0)" data-name="눈"><span class="icon">{% include "icon-eye.svg" %}</span></a>
            <a href="javascript:void(0)" data-name="발"><span class="icon">{% include "icon-foot.svg" %}</span></a>
          </div>
          <div class="tab-content">
            <div class="item active">
              <strong>1. 아이크림 바르고 눈꺼풀 눌러주기</strong>
              아이 크림을 양쪽 눈가에 올려놓고 손가락 끝을 이용해 눈 아래쪽에서 눈꼬리 쪽으로 가볍게 톡톡 두드려주며 흡수시킨 후 눈꺼풀을 4~5회 정도 지그시 눌렀다 떼었다를 반복한다.
              <br>
              <strong>2. 눈 주위 따뜻한 온기 전달 후 지압하기</strong>
              손바닥을 비벼 열기를 만든 후 눈 앞머리 부분, 눈꼬리, 관자놀이 부분을 두 번째 손가락으로 꼭꼭 누른다.
            </div>
            <div class="item">
              <strong>1. 족욕법</strong>
              따뜻한 물에 발을 1~2분 정도 담근 후 찬물에 1~2분 정도 담근다. 이렇게 2~3회 정도 반복하면 하루 종일 지친 발의 피로가 말끔히 풀린다.
              <br>
              <strong>2. 발 근육 풀기</strong>
              발 전체에 바디 크림을 충분히 바른 후 주무른다. 그 후 다리를 뻗어 앉은 후 양쪽 발목을 같은 방향, 다른 방향으로 돌리고 발가락 끝까지 힘을 주어 뻗었다 접었다를 반복한다.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section s-sense-more">
  <div class="wrapper">
    <div class="box">
      <p class="heading">
        [J가 가봤습니다] 강남 명품거리 <br>설화수 매장 문 여니 온통 황금빛
      </p>
      <div class="link">
        <a href="http://news.joins.com/article/19813347" target="_blank" class="btn btn-sm">기사 더읽기</a>
      </div>
    </div>
  </div>
</div>