<div id="senses" class="section s-5senses lazyload ja_section_wrap" data-src="./img/senses/bg-senses.gif" ja-section-title="오감">
  <div class="inner animation-init">
    <h2 class="heading heading-3"><span class="cn">五感</span> <span class="ko">오감</span></h2>
    <p class="p-lead">아름다움을 위한 혁신</p>
  </div>
</div>