{# 각 감각은 .s-sense-top .s-sense-body .s-sense-more 의 세 섹션으로 나뉜다. #}
<div class="section s-sense-top">
  <header class="sense-top-header animation-init">
    <h2 class="heading"><span class="cn">味</span> <span class="ko">맛 미</span></h2>
    <p class="sub-heading"><span>감<br>성<br>을</span> <span>마<br>시<br>다</span></p>
  </header>
  {% if page != "tips" %}
  <div class="sense-top-video animation-init">{# 레이아웃은 left, right 두 가지가 있음. #}
    <div class="video-play">
      <video id="video-taste"></video>
      <a href="javascript:void(0)" class="play" aria-label="play movie">
        <div class="poster lazyload" data-src="../img/senses/poster-taste.jpg"></div>
      </a>
    </div>
  </div>

  <div class="sense-top-footer animation-init layout-left">
    <div class="sense-top-summary">
      <p class="num">03</p>
      <p class="text animation-init">
        “차는<br>
        아름다움을<br>
        마시는 것”
      </p>
    </div>
    <div class="sense-top-quote-wrapper">
      <blockquote class="sense-top-quote">
        <div class="inner">
          <p class="text">
            차,<br>문화 체험과<br>
            <strong class="colored">건강의</strong><br>
            <strong class="colored">매개체</strong>
          </p>
          <p class="from"><b class="name">박유진</b> 오설록 티 소믈리에</p>
        </div>
      </blockquote>
      {% include "_sense-share.njk" %}
    </div>
  </div>
  {% else %}
  <div class="sense-top-footer animation-init">
    {% include "_sense-share.njk" %}
  </div>
  {% endif %}
</div>

<div class="section s-sense-body taste lazyload" data-src="./img/senses/bg-taste.jpg">
  <div class="inner">
    <div class="sense-slider-header">
      {% if page != "tips" %}
      <h3 class="heading"><span class="num"></span> 대한민국, 차(<span class="cn">茶</span>)에 빠지다</h3>
      {% endif %}
      <h3 class="heading"><span class="num"></span> 차, 알고 마시면 더 좋다</h3>
      <h3 class="heading"><span class="num"></span> 티 소믈리에가 꼽은 계절별 추천차</h3>
    </div>
    <div class="sense-slider">
      {% if page != "tips" %}
      <div class="box padding">
        <h4 class="box-heading">늘어나는 국내 차 (<span class="cn">茶</span>) 수입•생산량</h4>
        <div class="graph-tea">{% include "graph-tea.svg" %}</div>
      </div>
      {% endif %}
      <div class="box padding-lg box-tea1">
        <div class="icon-tea">{% include "icon-tea.svg" %}</div>
        <dl class="tea-list">
          <dt>녹차</dt>
          <dd>항산화, 항암효과</dd>
          <dt>홍차</dt>
          <dd>비타민이 풍부해 피부미용에 탁월</dd>
          <dt>후발효차</dt>
          <dd>혈액순환을 돕고 수족냉증 완화</dd>
        </dl>
        <p class="p-small">출처: 파워푸드 슈퍼푸드</p>
      </div>
      <div class="box padding box-tea2">
        <div class="tab tab-tea">
          <div class="tab-nav">
            <a class="active" href="javascript:void(0)" data-name="봄"><span class="icon">{% include "icon-tea-spring.svg" %}</span> 봄</a>
            <a href="javascript:void(0)" data-name="여름"><span class="icon">{% include "icon-tea-summer.svg" %}</span> 여름</a>
            <a href="javascript:void(0)" data-name="가을"><span class="icon">{% include "icon-tea-fall.svg" %}</span> 가을</a>
            <a href="javascript:void(0)" data-name="겨울"><span class="icon">{% include "icon-tea-winter.svg" %}</span> 겨울</a>
          </div>
          <div class="tab-content">
            <div class="item active">봄을 만끽할 수 있는 꽃차 <br><span class="colored">추천 차_</span>제주난꽃향 그린티<br>(1년에 10일만 피는 꽃으로 만든 차)</div>
            <div class="item">청량감을 느낄 수 있는 차<br><span class="colored">추천 차_</span>웨딩그린티(녹차 베이스로 청도포향 첨가)</div>
            <div class="item">초콜릿, 캬라멜과 같은 묵직한 향이 있는 차<br><span class="colored">추천 차_</span>바닐라에스프레소<br>(커피향, 바닐라향이 가미된 홍차)</div>
            <div class="item">귤껍질을 발효차와 블랜딩하거나 열대과일 들어간 차<br><span class="colored">추천 차_</span>삼다연 영귤 또는 제주아일랜드 드림그린티<br>(동백꽃, 유채꽃, 영귤 들어간 차)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section s-sense-more taste">
  <div class="wrapper">
    <div class="box">

      <p class="heading">
        티나게 큰 차음료 시장, <br>커피 업계도 뛰어들었다.
      </p>
      <div class="link">
        <a href="http://news.joins.com/article/20681008" target="_blank" class="btn btn-sm">기사 더읽기</a>
      </div>
      <p class="heading">
        아무리 비싸도 입에 쓰면 무의미 … <br>오래된 차 미용팩으로 쓰면 유용
      </p>
      <div class="link">
        <a href="http://news.joins.com/article/21800113" target="_blank" class="btn btn-sm">기사 더읽기</a>
      </div>

    </div>
  </div>
</div>