{# 각 감각은 .s-sense-top .s-sense-body .s-sense-more 의 세 섹션으로 나뉜다. #}
<div class="section s-sense-top">
  <header class="sense-top-header animation-init">
    <h2 class="heading"><span class="cn">聽</span> <span class="ko">들을 청</span></h2>
    <p class="sub-heading"><span>마<br>음<br>을<br></span> <span>듣<br>는<br>다</span></p>
  </header>
	{% if page != "tips" %}
  <div class="sense-top-video animation-init">{# 레이아웃은 left, right 두 가지가 있음. #}
    <div class="video-play">
      <video id="video-hearing"></video>
      <a href="javascript:void(0)" class="play" aria-label="play movie">
        <div class="poster lazyload" data-src="../img/senses/poster-hearing.jpg"></div>
      </a>
    </div>
  </div>

  <div class="sense-top-footer animation-init layout-left">
    <div class="sense-top-summary">
      <p class="num">05</p>
      <p class="text animation-init">
        “매일 아침 지하철로<br>
        출근하면서<br>
        눈을 감고 사람들의<br>
        목소리를 듣는<br>
        연습을 해요.”
      </p>
    </div>
    <div class="sense-top-quote-wrapper">
      <blockquote class="sense-top-quote animation-init">
        <div class="inner">
          <p class="text">
            전화는<br>
            얼굴 없는 만남,<br>
            <strong class="colored">가장 중요한 건</strong><br>
            <strong class="colored">경청</strong>
          </p>
          <p class="from"><b class="name">백민애</b> 아모레퍼시픽 고객상담원</p>
        </div>
      </blockquote>
      {% include "_sense-share.njk" %}
    </div>
  </div>
  {% else %}
  <div class="sense-top-footer animation-init">
    {% include "_sense-share.njk" %}
  </div>
  {% endif %}
</div>

<div class="section s-sense-body hearing lazyload" data-src="./img/senses/bg-hearing.jpg">
  <div class="inner">
    <div class="sense-slider-header">
      {% if page != "tips" %}
      <h3 class="heading"><span class="num"></span> 콜센터 근무자 93% “근무 중 언어폭력 경험 있다”</h3>
      {% endif %}
      <h3 class="heading"><span class="num"></span> 꿀팁! 아름다운 전화 예절</h3>
    </div>
    <div class="sense-slider">
      {% if page != "tips" %}
      <div class="box padding">
        <div class="graph-hearing">{% include "graph-hearing.svg" %}</div>
      </div>
      {% endif %}
      <div class="box padding box-phone">
        <div class="tab phone-tab">
          <div class="tab-nav">
            <a class="active" href="javascript:void(0)" data-name="통화 전"><span class="icon">{% include "icon-phone1.svg" %}</span> 통화 전</a>
            <a href="javascript:void(0)" data-name="통화 시"><span class="icon">{% include "icon-phone2.svg" %}</span> 통화 시</a>
            <a href="javascript:void(0)" data-name="통화 마무리"><span class="icon">{% include "icon-phone3.svg" %}</span> 통화 마무리</a>
          </div>
          <div class="tab-content">
            <div class="item active">
              <ol class="call-tip">
                <li>전화 거는 시간, 장소, 상황이 적절한지 생각<br>(지하철, 공공장소에서 다른 사람에게 방해 되지 않도록 주의)</li>
                <li>상대 전화번호, 소속 확인</li>
                <li>전화 용건 정리</li>
              </ol>
            </div>
            <div class="item">
              <ol class="call-tip">
                <li>밝은 목소리로 상대방과 인사</li>
                <li>용건을 말하기 전 이름과 신분 밝히기</li>
                <li>잘 들리지 않을 때 '여보세요' 연발하지 않기</li>
                <li>간결하게 용건을 말하고 높임말 사용</li>
              </ol>
            </div>
            <div class="item">
              <ol class="call-tip">
                <li>끝인사</li>
                <li>상대방이 전화 끊은 것을 먼저 확인</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>