{# 각 감각은 .s-sense-top .s-sense-body .s-sense-more 의 세 섹션으로 나뉜다. #}
<div class="section s-sense-top">
  {#<header class="sense-top-header animation-init">#}
  <header class="sense-top-header">
    <h2 class="heading"><span class="cn">視</span> <span class="ko">볼 시</span></h2>
    <p class="sub-heading"><span>색<br>을</span> <span>만<br>나<br>다</span></p>
  </header>
  {% if page != "tips" %}
  <div class="sense-top-video animation-init">{# 레이아웃은 left, right 두 가지가 있음. #}
    <div class="video-play">
      <video id="video-vision"></video>
      <a href="javascript:void(0)" class="play" aria-label="play movie">
        <div class="poster lazyload" data-src="../img/senses/poster-vision.jpg"></div>
      </a>
    </div>
  </div>

  <div class="sense-top-footer animation-init layout-left">
    <div class="sense-top-summary">
      <p class="num">01</p>
      <p class="text animation-init">
        “수분,<br>
        자외선 관리는 기본.<br>
        피부에 어울리는<br>
        색상 찾기가 포인트”
      </p>
    </div>
    <div class="sense-top-quote-wrapper">
      <blockquote class="sense-top-quote animation-init">
        <div class="inner">
          <p class="text">
            레드와 버건디<br>믹스 메이크업,<br>
            <strong class="colored">올 가을</strong><br>
            <strong class="colored">컬러 트렌드</strong>
          </p>
          <p class="from"><b class="name">이진수</b> 헤라 수석 아티스트</p>
        </div>
      </blockquote>
      {% include "_sense-share.njk" %}
    </div>
  </div>
  {% else %}
  <div class="sense-top-footer animation-init">
    {% include "_sense-share.njk" %}
  </div>
  {% endif %}
</div>

<div class="section s-sense-body vision lazyload" data-src="./img/senses/bg-vision.jpg">
  <div class="inner">
    <div class="sense-slider-header">
      {% if page != "tips" %}
      <h3 class="heading"><span class="num"></span> 색조 화장품, 비중 늘어난다</h3>
      {% endif %}
      <h3 class="heading"><span class="num"></span> 올해 유행 컬러는 그리너리, 내년엔</h3>
      <h3 class="heading"><span class="num"></span> 꿀팁! 색조 화장품, 이렇게 고르면 실패 확률 줄인다</h3>
    </div>
    <div class="sense-slider">
      {% if page != "tips" %}
      <div class="box padding">
        <h4 class="box-heading">색조 vs 기초 비중</h4>
        <div class="graph-color-cosmetic">{% include "graph-color-cosmetics.svg" %}</div>
      </div>
      {% endif %}
      <div class="box padding">
        <h4 class="box-heading">COLOR OF THE YEAR</h4>
        <div class="color-slider owl-carousel owl-carousel-normal">
          <div class="item item1" data-dot="01"><img class="owl-lazy" data-src="./img/senses/color@2x.png" alt=""></div>
          <div class="item item2" data-dot="02"><img class="owl-lazy" data-src="./img/senses/color2@2x.png" alt=""></div>
        </div>
      </div>
      <div class="box padding">
        <h4 class="box-heading">색조 화장품 고르기</h4>
        <div class="tab tab-color-cosmetics">
          <div class="tab-nav">
            <a class="active" href="javascript:void(0)"><span class="icon">{% include "icon-blusher.svg" %}</span><span class="name">블러셔</span></a>
            <a href="javascript:void(0)"><span class="icon">{% include "icon-eyeshadow.svg" %}</span><span class="name">섀도우</span></a>
            <a href="javascript:void(0)"><span class="icon">{% include "icon-eyebrow-pencil.svg" %}</span><span class="name">브로우 펜슬</span></a>
            <a href="javascript:void(0)"><span class="icon">{% include "icon-eyeliner.svg" %}</span><span class="name">아이라이너</span></a>
            <a href="javascript:void(0)"><span class="icon">{% include "icon-lipstick.svg" %}</span><span class="name">립스틱</span></a>
          </div>
          <div class="tab-content">
            <p class="item active">테스터 제품이 판매 매장 조명에 오래 노출되어 있으면 변색 될 수 있으므로 꼭 피부에 발색테스트를 해본다.</p>
            <p class="item">손등에 발색 후 살짝 불었을 때 표면의 가루가 너무 날리는 제품은 피한다.</p>
            <p class="item">손등에 발색해 보고 색이 너무 진하게 표현되는 제품은 피한다.</p>
            <p class="item">손등에 발색 후 10초 정도 말린 후 문지르면 번짐 정도를 알 수 있다.</p>
            <p class="item">손등에 발색하기 보다 내용물을 길게 빼서 입술에 가까이 대보고 컬러를 확인하는 것이 정확하다.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section s-sense-more">
  <div class="wrapper">
    <div class="box">
      <p class="heading">
        당신의 ‘인생 쿠션’고를 땐 균일성 지속성<br> 피부효능
        이 세 가지만 기억하세요.
      </p>
      <div class="link">
        <a href="http://news.joins.com/article/21578721" target="_blank" class="btn btn-sm">기사 더읽기</a>
      </div>
    </div>
  </div>
</div>