{% set page = 'index' %}
{% extends '_layout.njk' %}

{% block content %}

{% include "_nav.njk" %}
<div class="ja_section_wrap" ja-section-title="Intro">{% include "_intro.njk" %}</div>
<div class="ja_section_wrap" ja-section-title="방문판매">{% include "_sales.njk" %}</div>
<div class="ja_section_wrap" ja-section-title="오감">{% include "_senses.njk" %}</div>
<div id="vision" class="hash-section ja_section_wrap" ja-section-title="시각">{% include "_sense-vision.njk" %}</div>
<div id="smell" class="hash-section ja_section_wrap" ja-section-title="후각">{% include "_sense-smell.njk" %}</div>
<div id="taste" class="hash-section ja_section_wrap" ja-section-title="미각">{% include "_sense-taste.njk" %}</div>
<div id="touch" class="hash-section ja_section_wrap" ja-section-title="촉각">{% include "_sense-touch.njk" %}</div>
<div id="hearing" class="hash-section ja_section_wrap" ja-section-title="청각">{% include "_sense-hearing.njk" %}</div>
<div class="ja_section_wrap" ja-section-title="Outro">{% include "_outro.njk" %}</div>

{% endblock %}